<div class="task-attachments-dialog">
    <div class="task-attachments-dialog__list">
        @for (attachment of taskAttachments(); track attachment.id) {
            <div class="task-attachments-dialog__file">
                <div class="task-attachments-dialog__file-icon">
                    <tui-icon icon="@tui.paperclip" />
                </div>

                <div class="task-attachments-dialog__file-content">
                    <a
                        class="task-attachments-dialog__file-name"
                        [href]="attachment.fileUrl"
                        target="_blank"
                    >
                        {{ attachment.originalName }}
                    </a>

                    <span class="task-attachments-dialog__file-source">
                        {{ attachment.mimeType }}
                    </span>
                </div>

                <span class="task-attachments-dialog__file-size">
                    {{ attachment.size / 1024 / 1024 | number: '1.1-2' }} МБ
                </span>

                <button
                    tuiIconButton
                    type="button"
                    appearance="flat"
                    size="s"
                    iconStart="@tui.trash-2"
                    class="task-attachments-dialog__delete"
                    (click)="deleteTaskAttachment(attachment.id)"
                ></button>
            </div>
        }
    </div>
</div>
