@if (!isProjectsLoading() && projects().length === 0) {
    <p>Создайте свой первый проект</p>
}

@if (isProjectsLoading() || projects().length > 0) {
    <div class="projects-table" [tuiSkeleton]="isProjectsLoading()">
        <table class="projects-table__table">
            <thead>
                <tr>
                    <th>Проект</th>
                    <th>Создатель</th>
                    <th>Прогресс</th>
                    <th>Статус</th>
                    <th>Команда</th>
                    <th>Дедлайн</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                @for (project of projects(); track project.id) {
                    <tr>
                        <td>
                            <div class="projects-table__project">
                                <div
                                    class="projects-table__project-icon projects-table__project-icon_blue"
                                >
                                    {{ project.key }}
                                </div>

                                <div class="projects-table__project-info">
                                    <div class="projects-table__project-title">
                                        {{ project.title }}
                                    </div>

                                    <div
                                        class="projects-table__project-description"
                                    >
                                        {{ project.description }}
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="projects-table__owner">
                                <div
                                    tuiAvatar="@tui.user"
                                    class="projects-table__owner-avatar"
                                ></div>

                                <span>
                                    {{ project.creator.firstName }}
                                    {{ project.creator.lastName }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="projects-table__progress">
                                <div class="projects-table__progress-value">
                                    68%
                                </div>

                                <progress
                                    class="projects-table__progress-bar"
                                    value="68"
                                    max="100"
                                ></progress>

                                <div
                                    class="projects-table__progress-description"
                                >
                                    Статистика задач
                                </div>
                            </div>
                        </td>

                        <td>
                            <span
                                class="projects-table__status projects-table__status_active"
                            >
                                {{ project.status | projectStatus }}
                            </span>
                        </td>

                        <td>
                            <div class="projects-table__team">
                                <div
                                    tuiAvatar="@tui.user"
                                    class="projects-table__team-avatar"
                                ></div>

                                <div
                                    tuiAvatar="@tui.user"
                                    class="projects-table__team-avatar"
                                ></div>

                                <div
                                    tuiAvatar="@tui.user"
                                    class="projects-table__team-avatar"
                                ></div>

                                <span class="projects-table__team-count"></span>
                            </div>
                        </td>

                        <td>
                            <div class="projects-table__deadline">
                                <div class="projects-table__deadline-date">
                                    Дедлайн
                                </div>

                                <div class="projects-table__deadline-warning">
                                    {{ project.deadline | date }}
                                </div>
                            </div>
                        </td>

                        <td>
                            <a
                                tuiIconButton
                                type="button"
                                appearance="outline"
                                size="s"
                                iconStart="@tui.ellipsis"
                                tuiHint="Подробнее о проекте"
                                tuiHintDirection="top-end"
                                [routerLink]="[project.id]"
                            ></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (!isProjectsLoading() && projects().length === 1) {
            <div class="projects-table__footer">
                <span class="projects-table__footer-text">
                    Показан 1 проект
                </span>

                <div class="projects-table__pagination">
                    <button
                        tuiButton
                        type="button"
                        appearance="primary"
                        size="s"
                    >
                        1
                    </button>
                </div>
            </div>
        }

        @if (!isProjectsLoading() && projects().length > 1) {
            <div class="projects-table__footer">
                <span class="projects-table__footer-text">
                    Показано 1–{{ projects().length }} из
                    {{ projects().length }} проектов
                </span>

                <div class="projects-table__pagination">
                    <button
                        tuiButton
                        type="button"
                        appearance="primary"
                        size="s"
                    >
                        1
                    </button>
                </div>
            </div>
        }
    </div>
}
