<div class="login-card__logo">
    <tui-icon class="login-card__logo-icon" icon="@tui.cat" />

    <span class="login-card__logo-text">AstushaApp</span>
</div>

<h1 class="login-card__title"> Войдите, чтобы продолжить </h1>

<form class="login-card__form" [formGroup]="form">
    <label class="login-card__field">
        <span class="login-card__label"> Электронная почта </span>

        <tui-textfield class="login-card__input" iconStart="@tui.mail">
            <input
                type="email"
                tuiInput
                placeholder="Введите адрес электронной почты"
                formControlName="email"
            />
        </tui-textfield>
    </label>

    <label class="login-card__field">
        <span class="login-card__label"> Пароль </span>

        <tui-textfield class="login-card__input" iconStart="@tui.lock-keyhole">
            <input
                type="password"
                tuiInput
                placeholder="Введите пароль"
                formControlName="password"
            />
            <tui-icon tuiPassword />
        </tui-textfield>
    </label>

    <label class="login-card__remember">
        <input
            class="login-card__checkbox"
            type="checkbox"
            formControlName="rememberMe"
        />

        <span class="login-card__remember-text"> Запомнить меня </span>
    </label>

    <button
        type="button"
        tuiButton
        class="login-card__submit"
        size="l"
        (click)="login()"
    >
        Продолжить
    </button>

    <div class="login-card__divider"></div>

    <div class="login-card__links">
        <a class="login-card__link" href="/auth/forgot-password">
            Не удается войти?
        </a>

        <span class="login-card__links-separator">•</span>

        <a class="login-card__link" href="/auth/create-account">
            Создать аккаунт
        </a>
    </div>
</form>
