<div class="project-task-toolbar__wrapper">
    <div class="project-task-toolbar__filters">
        <button
            tuiButton
            type="button"
            size="s"
            class="project-task-toolbar__filter"
            (click)="selectStage(null)"
        >
            Все задачи
            <span class="project-task-toolbar__count">
                {{ tasks().length }}
            </span>
        </button>
        @for (stage of workflowStages(); track stage.id) {
            <button
                tuiButton
                type="button"
                size="s"
                iconStart="@tui.notebook-pen"
                class="project-task-toolbar__filter"
                (click)="selectStage(stage.id)"
            >
                {{ stage.name }}
                <span class="project-task-toolbar__count">0</span>
            </button>
        }
    </div>

    <tui-textfield
        class="project-task-toolbar__search"
        tuiTextfieldSize="m"
        iconStart="@tui.search"
    >
        <input tuiInput type="text" placeholder="Поиск задачи" />
    </tui-textfield>
</div>
