<tui-tabs class="project-navigate">
    <a
        tuiTab
        class="project-navigate__link"
        [routerLink]="['/dashboard/projects', projectId()]"
        routerLinkActive="project-navigate__link_active"
        [routerLinkActiveOptions]="{exact: true}"
    >
        Обзор
    </a>

    <a
        tuiTab
        class="project-navigate__link"
        [routerLink]="['/dashboard/projects', projectId(), 'tasks']"
        routerLinkActive="project-navigate__link_active"
    >
        Задачи
    </a>

    <a
        tuiTab
        class="project-navigate__link"
        [routerLink]="['/dashboard/projects', projectId(), 'members']"
        routerLinkActive="project-navigate__link_active"
    >
        Участники
    </a>

    <a
        tuiTab
        class="project-navigate__link"
        [routerLink]="['/dashboard/projects', projectId(), 'settings']"
        routerLinkActive="project-navigate__link_active"
    >
        Настройки
    </a>
</tui-tabs>
