.change-password-form {
    &__fields {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__footer {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}
