<div class="project-workflow-settings__stage">
    <div class="project-workflow-settings__stage-actions">
        <tui-icon icon="@tui.grip-vertical" />
        <button
            tuiIconButton
            type="button"
            appearance="flat"
            size="xs"
            iconStart="@tui.pencil"
        >
            Редактировать
        </button>
    </div>

    <div class="project-workflow-settings__stage-number"> 2 </div>

    <span class="project-workflow-settings__stage-name"> To Do </span>
</div>

<tui-icon class="project-workflow-settings__arrow" icon="@tui.arrow-right" />
