<div class="project-workflow-stage-card">
    <div class="project-workflow-stage-card__number">
        {{ workflowStage().position + 1 }}
    </div>

    <div class="project-workflow-stage-card__content">
        <span class="project-workflow-stage-card__name">
            {{ workflowStage().name }}
        </span>

        <div class="project-workflow-stage-card__badges">
            @if (workflowStage().isStart) {
                <span class="project-workflow-stage-card__badge"> Старт </span>
            }

            @if (workflowStage().isFinal) {
                <span class="project-workflow-stage-card__badge"> Финал </span>
            }
        </div>
    </div>
</div>
