@if (!isLoading() && !team()) {
    <section class="team-details team-details_state">
        <p class="team-details__state-text">Выберите команду слева.</p>
    </section>
} @else {
    <section class="team-details">
        <header class="team-details__header">
            <div class="team-details__team">
                <div class="team-details__avatar" [tuiSkeleton]="isLoading()">
                    @if (team(); as teamData) {
                        {{ teamData.name.slice(0, 2).toUpperCase() }}
                    } @else {
                        КО
                    }
                </div>

                <div class="team-details__info">
                    <h2 class="team-details__title" [tuiSkeleton]="isLoading()">
                        @if (team(); as teamData) {
                            {{ teamData.name }}
                        } @else {
                            Название команды
                        }
                    </h2>

                    <span
                        class="team-details__subtitle"
                        [tuiSkeleton]="isLoading()"
                    >
                        @if (team(); as teamData) {
                            {{
                                teamData.membersCount ??
                                    teamData._count?.members ??
                                    0
                            }}
                            участников
                        } @else {
                            0 участников
                        }
                    </span>
                </div>
            </div>
            @if (canManageTeam()) {
                <div class="team-details__actions">
                    <button
                        tuiButton
                        size="m"
                        iconStart="@tui.user-plus"
                        [tuiSkeleton]="isLoading()"
                    >
                        Пригласить участника
                    </button>

                    <button
                        tuiIconButton
                        appearance="flat"
                        size="m"
                        iconStart="@tui.ellipsis-vertical"
                        tuiHint="Перейти к настройкам команды"
                        tuiHintDirection="top-start"
                        [tuiSkeleton]="isLoading()"
                        (click)="team() && openTeamSettings(team()!)"
                    >
                        Настройки команды
                    </button>
                </div>
            }
        </header>

        <div class="team-details__toolbar">
            <tui-textfield
                class="team-details__search"
                iconStart="@tui.search"
                tuiTextfieldSize="m"
                [tuiSkeleton]="isLoading()"
            >
                <input
                    tuiInput
                    type="text"
                    placeholder="Поиск по участникам..."
                />
            </tui-textfield>

            <button
                tuiButton
                class="team-details__control"
                appearance="flat"
                size="m"
                iconEnd="@tui.chevron-down"
                [tuiSkeleton]="isLoading()"
            >
                Все роли
            </button>

            <button
                tuiButton
                class="team-details__sort"
                appearance="flat"
                size="m"
                iconEnd="@tui.chevron-down"
                [tuiSkeleton]="isLoading()"
            >
                Сортировка: По имени (А–Я)
            </button>

            <button
                tuiIconButton
                appearance="flat"
                size="m"
                iconStart="@tui.arrow-up-down"
                [tuiSkeleton]="isLoading()"
            >
                Порядок сортировки
            </button>

            <button
                tuiButton
                appearance="flat"
                size="m"
                iconStart="@tui.list-filter"
                [tuiSkeleton]="isLoading()"
            >
                Фильтры
            </button>
        </div>

        <div class="team-details__table-wrapper" [tuiSkeleton]="isLoading()">
            <table class="team-details__table">
                <thead>
                    <tr>
                        <th>Участник</th>
                        <th>Email</th>
                        <th>Роль в команде</th>
                        <th>Должность</th>
                        <th>Действия</th>
                    </tr>
                </thead>

                <tbody>
                    @if (teamMembers().length) {
                        @for (member of teamMembers(); track member.id) {
                            <tr class="team-members-list__row">
                                <td>
                                    <div class="team-member-row__member">
                                        <div
                                            tuiAvatar="@tui.user"
                                            class="team-member-row__avatar"
                                        ></div>

                                        <span class="team-member-row__name">
                                            {{
                                                member.user.firstName ||
                                                    member.user.login
                                            }}
                                            {{ member.user.lastName }}
                                        </span>
                                    </div>
                                </td>

                                <td>
                                    <span class="team-member-row__email">
                                        {{ member.user.email }}
                                    </span>
                                </td>

                                <td>
                                    <span class="team-member-row__role">
                                        {{ member.role | teamRoleLabel }}
                                    </span>
                                </td>

                                <td>
                                    <span
                                        class="team-member-row__projects-count"
                                    >
                                        {{ member.user.position }}
                                    </span>
                                </td>

                                <td>
                                    <button
                                        tuiIconButton
                                        appearance="flat"
                                        size="s"
                                        iconStart="@tui.ellipsis-vertical"
                                    >
                                        Действия
                                    </button>
                                </td>
                            </tr>
                        }
                    } @else {
                        <tr>
                            <td colspan="5">
                                <div class="team-details__empty">
                                    <tui-icon icon="@tui.users" />

                                    <div>
                                        <h3 class="team-details__empty-title">
                                            Участников пока нет
                                        </h3>

                                        <p class="team-details__empty-text">
                                            Пригласите участников, чтобы они
                                            появились в списке команды.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <footer class="team-details__footer">
            <span class="team-details__counter" [tuiSkeleton]="isLoading()">
                @if (team(); as teamData) {
                    Показано {{ teamMembers().length }} из
                    {{ teamData.membersCount ?? teamData._count?.members ?? 0 }}
                    участников
                } @else {
                    Показано 0 из 0 участников
                }
            </span>

            <div class="team-details__pagination" [tuiSkeleton]="isLoading()">
                <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    iconStart="@tui.chevron-left"
                >
                    Назад
                </button>

                <button tuiButton size="s">1</button>

                <button tuiButton appearance="flat" size="s"> 2 </button>

                <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    iconStart="@tui.chevron-right"
                >
                    Вперёд
                </button>
            </div>

            <button
                tuiButton
                appearance="flat"
                size="s"
                iconEnd="@tui.chevron-down"
                [tuiSkeleton]="isLoading()"
            >
                Показывать: 10
            </button>
        </footer>
    </section>
}

<ng-template
    [tuiDialog]="isNoAccessDialogOpen()"
    (tuiDialogChange)="isNoAccessDialogOpen.set($event)"
    [tuiDialogOptions]="{size: 's'}"
>
    <div class="no-access-dialog">
        <div class="no-access-dialog__icon">
            <tui-icon icon="@tui.lock-keyhole" />
        </div>

        <div class="no-access-dialog__content">
            <h2 class="no-access-dialog__title">Недостаточно прав</h2>

            <p class="no-access-dialog__text">
                Редактировать настройки команды могут только создатель или
                администратор команды.
            </p>
        </div>

        <div class="no-access-dialog__footer">
            <button
                tuiButton
                size="m"
                (click)="isNoAccessDialogOpen.set(false)"
            >
                Понятно
            </button>
        </div>
    </div>
</ng-template>
