<div class="project-members-summary">
    <div class="project-members-summary__card">
        <div tuiAvatar="@tui.users" class="project-members-summary__icon"></div>

        <div class="project-members-summary__content">
            <div class="project-members-summary__title">Всего участников</div>

            <div class="project-members-summary__value">7</div>

            <div class="project-members-summary__description">
                В команде проекта
            </div>
        </div>
    </div>

    <div class="project-members-summary__card">
        <div
            tuiAvatar="@tui.notepad-text"
            class="project-members-summary__icon"
        ></div>

        <div class="project-members-summary__content">
            <div class="project-members-summary__title">Всего задач</div>

            <div class="project-members-summary__value">71</div>

            <div class="project-members-summary__description">
                Закреплено за командой
            </div>
        </div>
    </div>

    <div class="project-members-summary__card">
        <div tuiAvatar="@tui.crown" class="project-members-summary__icon"></div>

        <div class="project-members-summary__content">
            <div class="project-members-summary__title">
                Руководители проекта
            </div>

            <div class="project-members-summary__value">1</div>

            <div class="project-members-summary__description">
                Отвечают за успех проекта
            </div>
        </div>
    </div>
</div>
