<div class="task-comments-card">
    <header class="task-comments-card__header">
        <div>
            <div class="task-comments-card__title-wrapper">
                <h3 class="task-comments-card__title">Комментарии</h3>

                <span class="task-comments-card__count">
                    {{ comments().length }}
                </span>
            </div>

            <p class="task-comments-card__subtitle">
                Обсудите детали задачи с командой
            </p>
        </div>
    </header>

    <form class="task-comments-card__form" (ngSubmit)="addComment()">
        <tui-textfield tuiTextfieldSize="m">
            <textarea
                tuiTextarea
                placeholder="Написать комментарий..."
                [formControl]="comment"
            ></textarea>
        </tui-textfield>

        <tui-error
            [formControl]="comment"
            [order]="['required', 'maxlength']"
        />

        <div class="task-comments-card__form-footer">
            <span class="task-comments-card__limit">
                {{ comment.value.length }}/2000
            </span>

            <button
                tuiButton
                type="button"
                size="s"
                iconStart="@tui.send"
                [disabled]="
                    isTaskLoading() ||
                    isCommentsLoading() ||
                    isCommentAdding() ||
                    comment.invalid
                "
                (click)="addComment()"
            >
                Отправить
            </button>
        </div>
    </form>

    @if (comments().length > 0) {
        <div class="task-comments-card__list">
            @for (commentItem of previewComments(); track commentItem.id) {
                <article class="task-comments-card__comment">
                    <div class="task-comments-card__avatar">
                        {{ getAuthorInitials(commentItem) }}
                    </div>

                    <div class="task-comments-card__comment-content">
                        <header class="task-comments-card__comment-header">
                            <strong class="task-comments-card__author">
                                {{ getAuthorName(commentItem) }}
                            </strong>

                            <div class="task-comments-card__comment-actions">
                                <span class="task-comments-card__date">
                                    {{
                                        commentItem.createdAt
                                            | date: 'dd.MM.yyyy HH:mm'
                                    }}
                                </span>

                                @if (canManageProject(commentItem)) {}
                                <button
                                    tuiButton
                                    type="button"
                                    appearance="flat"
                                    size="xs"
                                    iconStart="@tui.pen"
                                >
                                </button>

                                @if (canDeleteComment(commentItem)) {
                                    <button
                                        class="task-comments-card__delete-button"
                                        tuiButton
                                        type="button"
                                        appearance="flat"
                                        size="xs"
                                        iconStart="@tui.trash"
                                        (click)="deleteComment(commentItem)"
                                    >
                                    </button>
                                }
                            </div>
                        </header>

                        <p class="task-comments-card__text">
                            {{ commentItem.text }}
                        </p>
                    </div>
                </article>
            }
        </div>
    } @else {
        @if (!isCommentsLoading()) {
            <div class="task-comments-card__empty">
                <p class="task-comments-card__empty-title">
                    Комментариев пока нет
                </p>

                <p class="task-comments-card__empty-description">
                    Оставьте первый комментарий по этой задаче
                </p>
            </div>
        }
    }
    @if (comments().length > 3) {
        <button tuiButton appearance="flat" size="s" (click)="showAllComments()"
            >Показать все комментарии</button
        >
    }
</div>
