<div class="project-page">
    @if (project(); as project) {
        <app-project-navigate
            [projectId]="project.id"
            [canManageProject]="canManageProject()"
        />

        <router-outlet
            [routerOutletData]="{
                project: project,
                projectId: project.id,
                updateProject: updateProject,
                canManageProject: canManageProject()
            }"
        />
    } @else {
        <div class="project-page__navigation-skeleton" tuiSkeleton></div>

        <div class="project-page__content-skeleton">
            <div class="project-page__skeleton-card" tuiSkeleton></div>
            <div class="project-page__skeleton-card" tuiSkeleton></div>
            <div
                class="project-page__skeleton-card project-page__skeleton-card_wide"
                tuiSkeleton
            ></div>
        </div>
    }
</div>
