:host {
    display: block;
    width: 100%;
    height: 100vh;
}

.not-found-page {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('/background-images/not-found-page.png') center / cover
        no-repeat;
}
