<article class="card">
    <header class="header">
        <span class="number">#{{ task().number }}</span>

        <div class="actions">
            @if (task().priority === 'LOW') {
                <div tuiBadge class="priority" appearance="positive">
                    {{ task().priority }}
                </div>
            }
            @if (task().priority === 'MEDIUM') {
                <div tuiBadge class="priority" appearance="warning">
                    {{ task().priority }}
                </div>
            }
            @if (task().priority === 'HIGH') {
                <div tuiBadge class="priority" appearance="accent">
                    {{ task().priority }}
                </div>
            }
            @if (task().priority === 'CRITICAL') {
                <div tuiBadge class="priority" appearance="negative">
                    {{ task().priority }}
                </div>
            }

            <a
                tuiButton
                class="details-button"
                appearance="flat"
                iconStart="@tui.ellipsis"
                tuiHint="Подробнее о задаче"
                tuiHintDirection="top-end"
                aria-label="Подробнее о задаче"
                [routerLink]="[
                    '/dashboard/projects',
                    task().projectId,
                    'tasks',
                    task().id
                ]"
            ></a>
        </div>
    </header>

    <h3 class="title">
        {{ task().title }}
    </h3>

    <p class="description">
        {{ task().description || 'Описание не добавлено' }}
    </p>

    <footer class="footer">
        <div class="assignee">
            @if (task().assignee; as assignee) {
                @if (assignee.avatarUrl) {
                    <img
                        class="avatar-image"
                        [src]="assignee.avatarUrl"
                        alt="Аватар исполнителя"
                    />
                } @else {
                    <div tuiAvatar="@tui.user" class="avatar"></div>
                }

                <span class="assignee-name">
                    {{
                        (
                            (assignee.firstName ?? '') +
                            ' ' +
                            (assignee.lastName ?? '')
                        ).trim() || assignee.login
                    }}
                </span>
            } @else {
                <div tuiAvatar="@tui.user" class="avatar"></div>

                <span class="assignee-name">Не назначен</span>
            }
        </div>

        <div class="meta">
            <span class="story-points"> {{ task().storyPoints ?? 0 }} SP </span>

            <span class="deadline">
                {{ task().dueDate | date }}
            </span>
        </div>
    </footer>
</article>
