<div class="board-task-card">
    <header class="board-task-card__header">
        <span class="board-task-card__number">#{{ task().number }}</span>

        <div>
            <span
                class="board-task-card__priority"
                [style.color]="getPriorityColor()"
                [style.background]="getPriorityBackground()"
            >
                {{ task().priority }}
            </span>

            <a
                tuiButton
                appearance="flat"
                iconStart="@tui.ellipsis"
                tuiHint="Подробнее о задаче"
                tuiHintDirection="top-end"
                [routerLink]="['my-tasks', task().id]"
            ></a>
        </div>
    </header>

    <h3 class="board-task-card__title">
        {{ task().title }}
    </h3>

    <p class="board-task-card__description">
        {{ task().description || 'Описание не добавлено' }}
    </p>

    <footer class="board-task-card__footer">
        <div class="board-task-card__assignee">
            @if (task().assignee; as assignee) {
                @if (assignee.avatarUrl) {
                    <img
                        class="board-task-card__avatar-img"
                        [src]="assignee.avatarUrl"
                        alt="Аватар исполнителя"
                    />
                } @else {
                    <div
                        tuiAvatar="@tui.user"
                        class="board-task-card__avatar"
                    ></div>
                }

                <span class="board-task-card__assignee-name">
                    {{
                        (
                            (assignee.firstName ?? '') +
                            ' ' +
                            (assignee.lastName ?? '')
                        ).trim() || assignee.login
                    }}
                </span>
            } @else {
                <div
                    tuiAvatar="@tui.user"
                    class="board-task-card__avatar"
                ></div>

                <span class="board-task-card__assignee-name">
                    Не назначен
                </span>
            }
        </div>

        <div class="board-task-card__meta">
            <span class="board-task-card__story-points">
                {{ task().storyPoints ?? 0 }} SP
            </span>

            <span class="board-task-card__deadline">
                {{ task().dueDate | date }}
            </span>
        </div>
    </footer>
</div>
