<div class="card">
    <header class="header">
        <h2 class="title">Роли и права</h2>

        <p class="description"> Настройте роли и права доступа в команде </p>
    </header>

    <div class="list">
        @for (button of rolesButtons(); track $index) {
            <button tuiButton appearance="flat" class="item">
                <div class="item-info">
                    <span class="role">
                        {{ button.role }}
                    </span>

                    <span class="role-description">
                        {{ button.info }}
                    </span>
                </div>

                <div class="action">
                    <span class="count">{{ button.count }}</span>

                    <tui-icon icon="@tui.chevron-right" />
                </div>
            </button>
        }
    </div>
</div>
