<div class="register-card__logo">
    <tui-icon class="register-card__logo-icon" icon="@tui.cat" />

    <span class="register-card__logo-text">AstushaApp</span>
</div>

<h1 class="register-card__title">Создайте аккаунт</h1>

<form
    class="register-card__form"
    [formGroup]="form"
    (ngSubmit)="createAccount()"
>
    <label class="register-card__field">
        <span class="register-card__label">Логин</span>

        <tui-textfield class="register-card__input" iconStart="@tui.user">
            <input
                type="text"
                tuiInput
                placeholder="Введите логин"
                formControlName="login"
            />
        </tui-textfield>

        <tui-error
            [formControl]="form.controls.login"
            [order]="['required', 'minlength', 'maxlength']"
        />
    </label>

    <label class="register-card__field">
        <span class="register-card__label">Электронная почта</span>

        <tui-textfield class="register-card__input" iconStart="@tui.mail">
            <input
                type="email"
                tuiInput
                placeholder="Введите адрес электронной почты"
                formControlName="email"
            />
        </tui-textfield>

        <tui-error
            [formControl]="form.controls.email"
            [order]="['required', 'email', 'maxlength']"
        />
    </label>

    <label class="register-card__field">
        <span class="register-card__label">Пароль</span>

        <tui-textfield
            class="register-card__input"
            iconStart="@tui.lock-keyhole"
        >
            <input
                type="password"
                tuiInput
                placeholder="Придумайте пароль"
                formControlName="password"
            />

            <tui-icon tuiPassword />
        </tui-textfield>

        <tui-error
            [formControl]="form.controls.password"
            [order]="['required', 'minlength', 'maxlength']"
        />
    </label>

    <label class="register-card__field">
        <span class="register-card__label">Повторите пароль</span>

        <tui-textfield
            class="register-card__input"
            iconStart="@tui.lock-keyhole"
        >
            <input
                type="password"
                tuiInput
                placeholder="Повторите пароль"
                formControlName="confirmPassword"
            />

            <tui-icon tuiPassword />
        </tui-textfield>

        <tui-error
            [formControl]="form.controls.confirmPassword"
            [order]="['required', 'minlength', 'maxlength', 'passwordMismatch']"
        />
    </label>

    <label class="register-card__agreement">
        <input
            class="register-card__checkbox"
            type="checkbox"
            formControlName="agreement"
        />

        <span class="register-card__agreement-text">
            Я принимаю условия использования
        </span>
    </label>

    <tui-error
        [formControl]="form.controls.agreement"
        [order]="['required']"
        class="checkbox-error"
    />

    <button
        tuiButton
        class="register-card__submit"
        type="submit"
        appearance="primary"
        size="l"
    >
        Создать аккаунт
    </button>

    <div class="register-card__divider"></div>

    <div class="register-card__links">
        <span class="register-card__links-text">Уже есть аккаунт?</span>

        <a class="register-card__link" routerLink="/auth/login"> Войти </a>
    </div>
</form>
