<div class="all-teams-dialog">
    @for (team of teams; track team.id) {
        <button
            tuiButton
            appearance="flat"
            class="teams-list__item teams-list__item_active"
            (click)="selectTeam(team.id)"
        >
            <div class="teams-list__avatar">
                {{ team.name.slice(0, 2).toUpperCase() }}
            </div>

            <div class="teams-list__content">
                <div class="teams-list__top">
                    <span class="teams-list__name">
                        {{ team.name }}
                    </span>

                    <span class="teams-list__badge">
                        {{
                            team.myRole
                                ? (team.myRole | teamRoleLabel)
                                : 'Без роли'
                        }}
                    </span>
                </div>

                <p class="teams-list__description">
                    {{ team.description || 'Без описания' }}
                </p>

                <div class="teams-list__meta">
                    <tui-icon icon="@tui.users-round" />

                    <span>
                        {{ team.membersCount ?? team._count?.members ?? 0 }}
                    </span>
                </div>
            </div>
        </button>
    }
</div>
