<section class="project-team-card">
    <header class="project-team-card__header">
        <tui-icon class="project-team-card__header-icon" icon="@tui.users" />

        <h2 class="project-team-card__title">Команда проекта</h2>
    </header>

    <main class="project-team-card__content">
        <div class="project-team-card__empty-icon">
            <tui-icon icon="@tui.users-round" />
        </div>

        <h3 class="project-team-card__empty-title">
            К проекту пока не привязана команда
        </h3>

        <p class="project-team-card__empty-description">
            Пригласите команду, чтобы участники могли работать над задачами
            проекта
        </p>
    </main>

    <footer class="project-team-card__footer">
        <button
            tuiButton
            type="button"
            appearance="outline"
            size="m"
            iconStart="@tui.plus"
            (click)="click()"
        >
            Добавить команду
        </button>
    </footer>
</section>
