<div class="card">
    <header class="header" [tuiSkeleton]="isLoading()">
        <div class="title-wrapper">
            <h3 class="title">Файлы</h3>

            <span class="count" [tuiSkeleton]="isFilesSkeletonVisible()">
                {{ attachmentsCount() }}
            </span>
        </div>

        @if (taskAttachments().length > 0) {
            <button
                tuiButton
                class="add-button"
                type="button"
                appearance="flat"
                size="s"
                iconStart="@tui.plus"
                (click)="toggleFileInput()"
            >
                Добавить файл
            </button>
        }
    </header>

    @if (isFileInputVisible() && !control.value) {
        <label tuiInputFiles class="input">
            <input
                tuiInputFiles
                accept="image/*,.pdf,.doc,.docx,.txt,.zip"
                [formControl]="control"
            />
        </label>
    }

    <tui-files class="upload-list">
        @if (
            control.value
                | tuiFileRejected
                    : {
                          accept: 'image/*,.pdf,.doc,.docx,.txt,.zip'
                      }
                | async;
            as file
        ) {
            <tui-file state="error" [file]="file" (remove)="removeFile()" />
        }

        @if (loadedFiles$ | async; as file) {
            <tui-file size="l" [file]="file" (remove)="removeFile()" />
        }

        @if (failedFiles$ | async; as file) {
            <tui-file state="error" [file]="file" (remove)="removeFile()" />
        }

        @if (loadingFiles$ | async; as file) {
            <tui-file state="loading" [file]="file" (remove)="removeFile()" />
        }
    </tui-files>

    <div class="body" [tuiSkeleton]="isAttachmentsLoading()">
        @if (
            taskAttachments().length === 0 &&
            !isAttachmentsLoading() &&
            !isLoading()
        ) {
            <main class="empty">
                <div class="empty-icon">
                    <tui-icon icon="@tui.file" />
                </div>

                <h3 class="empty-title"> К задаче пока не привязаны файлы </h3>

                <p class="empty-description">
                    Прикрепите документы, изображения или другие материалы к
                    задаче
                </p>

                <button
                    tuiButton
                    class="empty-action"
                    type="button"
                    appearance="flat"
                    size="s"
                    iconStart="@tui.plus"
                    (click)="toggleFileInput()"
                >
                    Добавить файл
                </button>
            </main>
        } @else {
            <main class="list">
                @for (attachment of previewAttachments(); track attachment.id) {
                    <div class="file">
                        <div class="file-icon">
                            <tui-icon icon="@tui.paperclip" />
                        </div>

                        <div
                            class="file-content"
                            [tuiSkeleton]="isFilesSkeletonVisible()"
                        >
                            <a
                                class="file-name"
                                [href]="attachment.fileUrl"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {{ attachment.originalName }}
                            </a>

                            <span class="file-source">
                                {{ attachment.mimeType }}
                            </span>
                        </div>

                        <span class="file-size">
                            {{
                                attachment.size / 1024 / 1024 | number: '1.1-2'
                            }}
                            МБ
                        </span>

                        <button
                            tuiIconButton
                            class="delete-button"
                            type="button"
                            appearance="flat"
                            size="s"
                            iconStart="@tui.trash-2"
                            aria-label="Удалить файл"
                            [tuiSkeleton]="isFilesSkeletonVisible()"
                            (click)="deleteTaskAttachment(attachment.id)"
                        ></button>
                    </div>
                }
            </main>
        }
    </div>

    @if (attachmentsCount() > 3) {
        <button
            tuiButton
            class="show-all"
            type="button"
            appearance="flat"
            size="s"
            [tuiSkeleton]="isLoading()"
            (click)="showAllFiles()"
        >
            Показать все файлы
        </button>
    }
</div>
