<div class="task-files-card">
    <header class="task-files-card__header" [tuiSkeleton]="isLoading()">
        <div class="task-files-card__title-wrapper">
            <h3 class="task-files-card__title">Файлы</h3>

            <span
                class="task-files-card__count"
                [tuiSkeleton]="isFilesSkeletonVisible()"
                >{{ attachmentsCount() }}</span
            >
        </div>

        <button
            tuiButton
            type="button"
            appearance="flat"
            size="s"
            iconStart="@tui.plus"
            class="task-files-card__add-button"
            (click)="toggleFileInput()"
        >
            Добавить файл
        </button>
    </header>

    @if (isFileInputVisible() && !control.value) {
        <label tuiInputFiles class="task-files-card__input">
            <input
                tuiInputFiles
                accept="image/*,.pdf,.doc,.docx,.txt,.zip"
                [formControl]="control"
            />
        </label>
    }

    <tui-files class="task-files-card__upload-list">
        @if (
            control.value
                | tuiFileRejected: {accept: 'image/*,.pdf,.doc,.docx,.txt,.zip'}
                | async;
            as file
        ) {
            <tui-file state="error" [file]="file" (remove)="removeFile()" />
        }

        @if (loadedFiles$ | async; as file) {
            <tui-file size="l" [file]="file" (remove)="removeFile()" />
        }

        @if (failedFiles$ | async; as file) {
            <tui-file state="error" [file]="file" (remove)="removeFile()" />
        }

        @if (loadingFiles$ | async; as file) {
            <tui-file state="loading" [file]="file" (remove)="removeFile()" />
        }
    </tui-files>

    <main class="task-files-card__list" [tuiSkeleton]="isLoading()">
        @for (attachment of previewAttachments(); track attachment.id) {
            <div class="task-files-card__file">
                <div class="task-files-card__file-icon">
                    <tui-icon icon="@tui.paperclip" />
                </div>

                <div
                    class="task-files-card__file-content"
                    [tuiSkeleton]="isFilesSkeletonVisible()"
                >
                    <a
                        class="task-files-card__file-name"
                        [href]="attachment.fileUrl"
                        target="_blank"
                    >
                        {{ attachment.originalName }}
                    </a>

                    <span class="task-files-card__file-source">
                        {{ attachment.mimeType }}
                    </span>
                </div>

                <span class="task-files-card__file-size">
                    {{ attachment.size / 1024 / 1024 | number: '1.1-2' }} МБ
                </span>
            </div>
        }
    </main>

    @if (attachmentsCount() > 3) {
        <button
            tuiButton
            type="button"
            appearance="flat"
            size="s"
            class="task-files-card__show-all"
            [tuiSkeleton]="isLoading()"
        >
            Показать все файлы
        </button>
    }
</div>
