<div class="complete-project-dialog">
    <div class="complete-project-dialog__description">
        После завершения проект будет переведён в архивный режим. Создание и
        редактирование задач станет недоступно, однако все данные проекта
        сохранятся и останутся доступными для просмотра.
    </div>

    <div class="complete-project-dialog__actions">
        <button tuiButton appearance="outline" (click)="completeProject()">
            Завершить
        </button>

        <button tuiButton (click)="cancel()"> Отмена </button>
    </div>
</div>
