<div class="card" [tuiSkeleton]="isLoading()">
    <header class="header">
        <div class="title-wrapper">
            <tui-icon class="icon" icon="@tui.file-text" />

            <h3 class="title">Описание задачи</h3>
        </div>
    </header>

    @if (task()?.description) {
        <p class="text">
            {{ task()?.description }}
        </p>
    } @else {
        <div class="empty">
            <div class="empty-icon">
                <tui-icon icon="@tui.file-text" />
            </div>

            <p class="empty-title"> Описание пока не добавлено </p>

            <p class="empty-description">
                Добавьте описание через редактирование задачи, чтобы команда
                понимала контекст и требования
            </p>
        </div>
    }
</div>
