<div class="task-page">
    <div class="task-page__left-column">
        <app-task-main-card
            [task]="task()"
            [isLoading]="isLoading()"
            (taskUpdated)="updateTask($event)"
        />

        <app-task-content-card [task]="task()" [isLoading]="isLoading()" />

        <app-task-danger-zone [task]="task()" />
    </div>

    <div class="task-page__right-column">
        <app-task-files-card [task]="task()" [isLoading]="isLoading()" />

        <app-task-comments [task]="task()" [isTaskLoading]="isLoading()" />
    </div>
</div>
