<header class="header">
    <div class="header__left">
        <button
            tuiIconButton
            class="header__menu-button"
            type="button"
            appearance="outline"
            size="m"
            iconStart="@tui.text-align-justify"
            [tuiSkeleton]="skeleton"
        >
            Открыть меню
        </button>

        <div class="header__title-block">
            <h1 class="header__title" [tuiSkeleton]="skeleton"> Дашборд </h1>

            <tui-breadcrumbs
                class="header__breadcrumbs"
                [tuiSkeleton]="skeleton"
            >
                <!-- хлебные крошки потом заполним -->
            </tui-breadcrumbs>
        </div>
    </div>

    <div class="header__right">
        <tui-textfield
            class="header__search"
            iconStart="@tui.search"
            [tuiSkeleton]="skeleton"
        >
            <input
                tuiInput
                type="text"
                placeholder="Поиск задач, проектов, людей..."
            />
        </tui-textfield>

        <button
            tuiButton
            class="header__create-button"
            type="button"
            size="m"
            iconStart="@tui.plus"
            [tuiSkeleton]="skeleton"
        >
            Создать
        </button>

        <button
            tuiIconButton
            class="header__icon-button"
            type="button"
            appearance="outline"
            size="m"
            iconStart="@tui.bell"
            [tuiSkeleton]="skeleton"
        >
            Уведомления
        </button>

        <button
            tuiIconButton
            class="header__icon-button"
            type="button"
            appearance="outline"
            size="m"
            iconStart="@tui.circle-question-mark"
            [tuiSkeleton]="skeleton"
        >
            Помощь
        </button>

        @let profile = profile$ | async;

        <button
            tuiButton
            class="header__profile-button"
            type="button"
            appearance="outline"
            size="m"
            iconEnd="@tui.chevron-down"
            [tuiSkeleton]="!profile"
            [attr.aria-expanded]="open()"
            [tuiDropdown]="userMenuDropdown"
            [tuiDropdownManual]="open()"
            (click)="toggleUserMenu($event)"
        >
            @if (profile) {
                <div class="header__avatar" tuiAvatar="@tui.user"></div>

                @if (profile.firstName && profile.lastName) {
                    <span class="header__profile-name">
                        {{ profile.firstName }} {{ profile.lastName }}
                    </span>
                } @else {
                    <span class="header__profile-name">
                        {{ profile.login }}
                    </span>
                }
            } @else {
                <span class="header__profile-name"> Загрузка </span>
            }
        </button>
        <ng-template #userMenuDropdown>
            <tui-data-list>
                @for (action of userMenuActions; track action.value) {
                    <button
                        tuiOption
                        type="button"
                        (click)="onUserMenuAction(action.value)"
                    >
                        {{ action.title }}
                    </button>
                }
            </tui-data-list>
        </ng-template>
    </div>
</header>
