<form class="dialog" [formGroup]="form" (ngSubmit)="saveTask()">
    <div class="grid">
        <label class="field title-field">
            <span class="label">Название задачи</span>

            <tui-textfield tuiTextfieldSize="m">
                <input
                    tuiInput
                    type="text"
                    placeholder="Введите название задачи"
                    formControlName="title"
                />
            </tui-textfield>

            <tui-error
                formControlName="title"
                [order]="['required', 'minlength', 'maxlength']"
            />
        </label>

        <label class="field">
            <span class="label">Тип задачи</span>

            <tui-textfield tuiTextfieldSize="m" tuiChevron>
                <input
                    tuiInput
                    tuiSelectLike
                    readonly
                    type="text"
                    placeholder="Выберите тип"
                    formControlName="type"
                />

                <tui-data-list-wrapper *tuiDropdown [items]="taskTypeItems" />
            </tui-textfield>

            <tui-error formControlName="type" [order]="['required']" />
        </label>

        <label class="field">
            <span class="label">Приоритет</span>

            <tui-textfield tuiTextfieldSize="m" tuiChevron>
                <input
                    tuiInput
                    tuiSelectLike
                    readonly
                    type="text"
                    placeholder="Выберите приоритет"
                    formControlName="priority"
                />

                <tui-data-list-wrapper
                    *tuiDropdown
                    [items]="taskPriorityItems"
                />
            </tui-textfield>

            <tui-error formControlName="priority" [order]="['required']" />
        </label>

        <label class="field">
            <span class="label">Исполнитель</span>

            <tui-textfield tuiTextfieldSize="m" tuiChevron>
                <input
                    tuiInput
                    tuiSelectLike
                    readonly
                    type="text"
                    placeholder="Выберите исполнителя"
                    formControlName="assigneeId"
                />

                <tui-data-list-wrapper
                    *tuiDropdown
                    [items]="assigneeIdItems()"
                />
            </tui-textfield>
        </label>

        <label class="field">
            <span class="label">Story points</span>

            <tui-textfield tuiTextfieldSize="m">
                <input
                    tuiInput
                    type="number"
                    min="0"
                    placeholder="Например, 3"
                    formControlName="storyPoints"
                />
            </tui-textfield>

            <tui-error formControlName="storyPoints" [order]="['min']" />
        </label>

        <label class="field">
            <span class="label">Дедлайн</span>

            <tui-textfield tuiTextfieldSize="m">
                <input
                    tuiInputDate
                    placeholder="Выберите дату"
                    formControlName="dueDate"
                />

                <tui-calendar *tuiDropdown />
            </tui-textfield>

            <tui-error
                formControlName="dueDate"
                [order]="['notPastDate', 'date', 'invalidDate']"
            />
        </label>
    </div>

    <label class="description">
        <span class="label">Описание задачи</span>

        <tui-textfield tuiTextfieldSize="m">
            <textarea
                tuiTextarea
                placeholder="Опишите задачу, требования или важные детали"
                formControlName="description"
            ></textarea>
        </tui-textfield>

        <tui-error formControlName="description" [order]="['maxlength']" />
    </label>

    <footer class="footer">
        <button
            tuiButton
            type="button"
            appearance="secondary"
            [disabled]="isSaving()"
            (click)="context.$implicit.complete()"
        >
            Отмена
        </button>

        <button tuiButton type="submit" [disabled]="form.invalid || isSaving()">
            Сохранить
        </button>
    </footer>
</form>
