<div class="delete-team-dialog">
    <header class="delete-team-dialog__header">
        <p class="delete-team-dialog__description">
            Это действие нельзя отменить. Команда и связанные с ней данные будут
            удалены.
        </p>
    </header>

    <footer class="delete-team-dialog__footer">
        <button
            tuiButton
            appearance="flat"
            size="m"
            iconStart="@tui.trash-2"
            (click)="deleteTeam()"
        >
            Удалить команду
        </button>

        <button tuiButton size="m" (click)="cancel()"> Отмена </button>
    </footer>
</div>
