<div class="toolbar">
    <div class="block">
        <h1 class="title">Мои задачи</h1>

        <p class="description">
            Все задачи, в которых вы являетесь исполнителем
        </p>
    </div>

    <div class="actions">
        <tui-textfield
            class="search"
            tuiTextfieldSize="m"
            iconStart="@tui.search"
        >
            <input
                tuiInput
                type="text"
                placeholder="Поиск по задачам"
                [formControl]="search"
            />
        </tui-textfield>

        <button
            tuiButton
            appearance="flat"
            size="m"
            iconStart="@tui.list-filter"
        >
            Фильтры
        </button>
    </div>
</div>
