<form class="create-project-dialog" [formGroup]="form">
    <tui-textfield>
        <label tuiLabel>Добавьте название</label>

        <input tuiAutoFocus tuiInput formControlName="title" />
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.title"
        [order]="['required', 'minlength', 'maxlength']"
    />

    <tui-textfield>
        <label tuiLabel>
            Добавьте короткий ключ проекта. Например: AST, CRM, BOOKME
        </label>

        <input tuiInput formControlName="key" />
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.key"
        [order]="['required', 'minlength', 'maxlength', 'pattern']"
    />

    <tui-textfield>
        <label tuiLabel>Добавьте описание проекта</label>

        <input tuiInput formControlName="description" />
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.description"
        [order]="['required', 'maxlength']"
    />

    <tui-textfield tuiChevron>
        <label tuiLabel>Тип рабочего процесса</label>

        <input
            tuiInput
            readonly
            type="text"
            placeholder="Выберите тип рабочего процесса"
            formControlName="workflowTypeTitle"
        />

        <tui-data-list *tuiDropdown>
            @for (type of workflowTypeOptions; track type.value) {
                <button
                    tuiOption
                    type="button"
                    (click)="selectWorkflowType(type)"
                >
                    <span tuiTitle>
                        {{ type.title }}

                        <span tuiSubtitle>
                            {{ type.description }}
                        </span>
                    </span>
                </button>
            }
        </tui-data-list>
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.workflowTypeTitle"
        [order]="['required']"
    />

    <tui-textfield tuiChevron>
        <label tuiLabel>Приоритет проекта</label>

        <input
            tuiInput
            readonly
            type="text"
            placeholder="Выберите приоритет проекта"
            formControlName="priorityTitle"
        />

        <tui-data-list *tuiDropdown>
            @for (priority of priorityOptions; track priority.value) {
                <button
                    tuiOption
                    type="button"
                    (click)="selectPriority(priority)"
                >
                    <span tuiTitle>
                        {{ priority.title }}

                        <span tuiSubtitle>
                            {{ priority.description }}
                        </span>
                    </span>
                </button>
            }
        </tui-data-list>
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.priorityTitle"
        [order]="['required']"
    />

    <tui-textfield>
        <label tuiLabel>Дата начала</label>

        <input tuiInputDate formControlName="startDate" />

        <tui-calendar *tuiDropdown />
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.startDate"
        [order]="['required', 'notPastDateValidator']"
    />

    <tui-textfield>
        <label tuiLabel>Дедлайн</label>

        <input tuiInputDate tuiUnfinishedValidator formControlName="deadline" />

        <tui-calendar *tuiDropdown />
    </tui-textfield>

    <tui-error
        [formControl]="form.controls.deadline"
        [order]="['required', 'notPastDateValidator']"
    />

    @if (
        form.hasError('deadlineBeforeStartDate') &&
        form.controls.deadline.touched
    ) {
        <div class="form-error">Дедлайн не может быть раньше даты старта</div>
    }

    <footer class="buttons">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            (click)="context.$implicit.complete()"
        >
            Отмена
        </button>

        <button tuiButton type="button" (click)="createProject()">
            Создать
        </button>
    </footer>
</form>
