<div class="edit-card">
    <div class="profile-settings__header">
        <div class="profile-settings__header-left">
            <div
                tuiAvatar="@tui.user"
                class="profile-settings__icon"
                [tuiSkeleton]="isProfileLoading()"
            ></div>

            <div class="profile-settings__header-text">
                <h2 class="profile-settings__title">
                    Профиль и личная информация
                </h2>

                <p class="profile-settings__description">
                    Эти данные видны вашей команде и могут быть изменены в любое
                    время
                </p>
            </div>
        </div>

        <button
            tuiButton
            class="profile-settings__edit-button"
            type="button"
            appearance="flat"
            size="s"
            iconStart="@tui.pencil"
            [disabled]="isProfileLoading() || isEditing() || isSaving()"
            (click)="startEditing()"
        >
            Редактировать
        </button>
    </div>

    <div class="edit">
        <div class="edit-photo">
            <div class="edit-photo__avatar" [tuiSkeleton]="isProfileLoading()">
                <img
                    class="edit-photo__img"
                    [src]="form.controls.avatarUrl.value"
                    alt=""
                />

                <button
                    tuiIconButton
                    class="edit-photo__camera"
                    type="button"
                    size="s"
                    iconStart="@tui.camera"
                    [disabled]="isProfileLoading() || !isEditing()"
                >
                    Изменить фото
                </button>
            </div>

            <button
                tuiButton
                class="edit-photo__button"
                type="button"
                appearance="flat"
                size="m"
                [disabled]="isProfileLoading() || !isEditing()"
            >
                Изменить фото
            </button>

            <p class="edit-photo__hint">
                JPG, PNG или WEBP<br />
                до 5 МБ
            </p>
        </div>

        <form class="edit-info" [formGroup]="form">
            <div class="edit-name-and-family">
                <label class="edit-info__field">
                    <label tuiLabel>Имя</label>

                    <tui-textfield
                        class="edit-info__input"
                        [tuiSkeleton]="isProfileLoading()"
                    >
                        <input
                            tuiInput
                            type="text"
                            placeholder="Введите имя"
                            formControlName="firstName"
                        />
                    </tui-textfield>
                    <tui-error
                        [formControl]="form.controls.firstName"
                        [order]="['minlength', 'maxlength']"
                    />
                </label>

                <label class="edit-info__field">
                    <label tuiLabel>Фамилия</label>

                    <tui-textfield
                        class="edit-info__input"
                        [tuiSkeleton]="isProfileLoading()"
                    >
                        <input
                            tuiInput
                            type="text"
                            placeholder="Введите фамилию"
                            formControlName="lastName"
                        />
                    </tui-textfield>
                    <tui-error
                        [formControl]="form.controls.lastName"
                        [order]="['minlength', 'maxlength']"
                    />
                </label>
            </div>

            <label class="edit-info__field">
                <label tuiLabel>Email</label>

                <tui-textfield
                    class="edit-info__input"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <input
                        tuiInput
                        type="email"
                        placeholder="Введите email"
                        formControlName="email"
                    />
                </tui-textfield>
                <tui-error
                    [formControl]="form.controls.email"
                    [order]="['required', 'email', 'maxlength']"
                />
            </label>

            <label class="edit-info__field">
                <label tuiLabel>Должность</label>

                <tui-textfield
                    class="edit-info__input"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <input
                        tuiInput
                        type="text"
                        placeholder="Введите должность"
                        formControlName="position"
                    />
                </tui-textfield>
                <tui-error
                    [formControl]="form.controls.position"
                    [order]="['minlength', 'maxlength']"
                />
            </label>

            <label class="edit-info__field">
                <label tuiLabel>О себе</label>

                <tui-textfield
                    class="edit-info__textarea"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <textarea
                        tuiTextarea
                        placeholder="Расскажите немного о себе"
                        formControlName="about"
                    ></textarea>
                </tui-textfield>
                <tui-error
                    [formControl]="form.controls.about"
                    [order]="['maxlength']"
                />
            </label>

            <div class="edit-info__actions">
                <button
                    tuiButton
                    class="edit-info__save"
                    type="button"
                    size="m"
                    iconStart="@tui.check"
                    [disabled]="
                        isProfileLoading() ||
                        !isEditing() ||
                        isSaving() ||
                        form.invalid ||
                        form.pristine
                    "
                    (click)="saveProfile()"
                >
                    Сохранить изменения
                </button>

                <button
                    tuiButton
                    class="edit-info__cancel"
                    type="button"
                    appearance="flat"
                    size="m"
                    [disabled]="
                        isProfileLoading() || !isEditing() || isSaving()
                    "
                    (click)="cancelEditing()"
                >
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>
