<div class="edit-card">
    <div class="profile-settings__header">
        <div class="profile-settings__header-left">
            <div
                tuiAvatar="@tui.user"
                class="profile-settings__icon"
                [tuiSkeleton]="isProfileLoading()"
            ></div>

            <div class="profile-settings__header-text">
                <h2 class="profile-settings__title">
                    Профиль и личная информация
                </h2>

                <p class="profile-settings__description">
                    Эти данные видны вашей команде и могут быть изменены в любое
                    время
                </p>
            </div>
        </div>

        <button
            tuiButton
            class="profile-settings__edit-button"
            appearance="flat"
            size="s"
            iconStart="@tui.pencil"
            [disabled]="isProfileLoading() || isEditing() || isSaving()"
            (click)="startEditing()"
        >
            Редактировать
        </button>
    </div>

    <div class="edit">
        <div class="edit-photo">
            <div class="edit-photo__avatar" [tuiSkeleton]="isProfileLoading()">
                @if (avatarPreviewUrl() || form.controls.avatarUrl.value) {
                    <img
                        class="edit-photo__img"
                        [src]="
                            avatarPreviewUrl() || form.controls.avatarUrl.value
                        "
                        alt="Аватар профиля"
                    />
                } @else {
                    <div
                        tuiAvatar="@tui.user"
                        class="edit-photo__fallback-avatar"
                    ></div>
                }

                @if (isEditing()) {
                    <button
                        tuiButton
                        class="edit-photo__camera"
                        appearance="primary"
                        size="xs"
                        iconStart="@tui.camera"
                        [disabled]="isProfileLoading() || isSaving()"
                        (click)="avatarInput.click()"
                    ></button>
                }
            </div>

            <input
                #avatarInput
                class="edit-photo__file-input"
                type="file"
                accept="image/png,image/jpeg,image/webp"
                tabindex="-1"
                [disabled]="isProfileLoading() || isSaving() || !isEditing()"
                (change)="onAvatarSelected($event)"
            />

            @if (isEditing()) {
                <button
                    tuiButton
                    class="edit-photo__change-button"
                    appearance="flat"
                    size="s"
                    [disabled]="isProfileLoading() || isSaving()"
                    (click)="avatarInput.click()"
                >
                    Изменить фото
                </button>
            }

            <tui-files class="edit-photo__files">
                @if (loadedAvatarFile$ | async; as file) {
                    <tui-file
                        size="l"
                        [file]="file"
                        (remove)="removeAvatarFile()"
                    />
                }

                @if (failedAvatarFile$ | async; as file) {
                    <tui-file
                        state="error"
                        [file]="file"
                        (remove)="removeAvatarFile()"
                    />
                }

                @if (loadingAvatarFile$ | async; as file) {
                    <tui-file
                        state="loading"
                        [file]="file"
                        (remove)="removeAvatarFile()"
                    />
                }
            </tui-files>

            <p class="edit-photo__hint">
                JPG, PNG или WEBP<br />
                до 5 МБ
            </p>

            @if (form.controls.avatarUrl.value && isEditing()) {
                <button
                    tuiButton
                    class="edit-photo__delete-button"
                    appearance="flat"
                    size="s"
                    [disabled]="isProfileLoading() || isSaving()"
                    (click)="deleteAvatar()"
                >
                    Удалить фото
                </button>
            }
        </div>

        <form class="edit-info" [formGroup]="form">
            <div class="edit-name-and-family">
                <div class="edit-info__field">
                    <label tuiLabel>Имя</label>

                    <tui-textfield
                        class="edit-info__input"
                        [tuiSkeleton]="isProfileLoading()"
                    >
                        <input
                            tuiInput
                            type="text"
                            placeholder="Введите имя"
                            formControlName="firstName"
                        />
                    </tui-textfield>

                    <tui-error
                        [formControl]="form.controls.firstName"
                        [order]="['minlength', 'maxlength']"
                    />
                </div>

                <div class="edit-info__field">
                    <label tuiLabel>Фамилия</label>

                    <tui-textfield
                        class="edit-info__input"
                        [tuiSkeleton]="isProfileLoading()"
                    >
                        <input
                            tuiInput
                            type="text"
                            placeholder="Введите фамилию"
                            formControlName="lastName"
                        />
                    </tui-textfield>

                    <tui-error
                        [formControl]="form.controls.lastName"
                        [order]="['minlength', 'maxlength']"
                    />
                </div>
            </div>

            <div class="edit-info__field">
                <label tuiLabel>Email</label>

                <tui-textfield
                    class="edit-info__input edit-info__input_disabled"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <input
                        tuiInput
                        type="email"
                        placeholder="Email"
                        formControlName="email"
                    />
                </tui-textfield>
            </div>

            <div class="edit-info__field">
                <label tuiLabel>Должность</label>

                <tui-textfield
                    class="edit-info__input"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <input
                        tuiInput
                        type="text"
                        placeholder="Введите должность"
                        formControlName="position"
                    />
                </tui-textfield>

                <tui-error
                    [formControl]="form.controls.position"
                    [order]="['minlength', 'maxlength']"
                />
            </div>

            <div class="edit-info__field">
                <label tuiLabel>О себе</label>

                <tui-textfield
                    class="edit-info__textarea"
                    [tuiSkeleton]="isProfileLoading()"
                >
                    <textarea
                        tuiTextarea
                        placeholder="Расскажите немного о себе"
                        formControlName="about"
                    ></textarea>
                </tui-textfield>

                <tui-error
                    [formControl]="form.controls.about"
                    [order]="['maxlength']"
                />
            </div>

            <div class="edit-info__actions">
                <button
                    type="button"
                    tuiButton
                    class="edit-info__save"
                    size="m"
                    iconStart="@tui.check"
                    [disabled]="
                        isProfileLoading() ||
                        !isEditing() ||
                        isSaving() ||
                        form.invalid ||
                        form.pristine
                    "
                    (click)="saveProfile()"
                >
                    Сохранить изменения
                </button>

                <button
                    type="button"
                    tuiButton
                    class="edit-info__cancel"
                    appearance="flat"
                    size="m"
                    [disabled]="
                        isProfileLoading() || !isEditing() || isSaving()
                    "
                    (click)="cancelEditing()"
                >
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>
