<div class="create-project-task-form">
    <header class="create-project-task-form__header">
        <div>
            <h3 class="create-project-task-form__title">Создать задачу</h3>

            <p class="create-project-task-form__subtitle">
                Заполните основные параметры задачи для проекта
            </p>
        </div>
    </header>

    <form
        class="create-project-task-form__form"
        [formGroup]="form"
        (ngSubmit)="createTask()"
    >
        <div class="create-project-task-form__grid">
            <label
                class="create-project-task-form__field create-project-task-form__field_title"
            >
                <span class="create-project-task-form__label">
                    Название задачи
                </span>

                <tui-textfield tuiTextfieldSize="m">
                    <input
                        tuiInput
                        type="text"
                        placeholder="Например, сверстать карточку задачи"
                        formControlName="title"
                    />
                </tui-textfield>

                <tui-error
                    formControlName="title"
                    [order]="['required', 'minlength', 'maxlength']"
                />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label">
                    Этап workflow
                </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите этап"
                        formControlName="workflowStageId"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="workflowStageIdItems()"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error
                    formControlName="workflowStageId"
                    [order]="['required']"
                />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label">
                    Тип задачи
                </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите тип"
                        formControlName="type"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="taskTypeItems"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error formControlName="type" [order]="['required']" />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label"> Приоритет </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите приоритет задачи"
                        formControlName="priority"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="taskPriorityItems"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error formControlName="priority" [order]="['required']" />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label">
                    Story points
                </span>

                <tui-textfield tuiTextfieldSize="m">
                    <input
                        tuiInput
                        type="number"
                        min="0"
                        placeholder="Например, 3"
                        formControlName="storyPoints"
                    />
                </tui-textfield>

                <tui-error formControlName="storyPoints" [order]="['min']" />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label"> Дедлайн </span>

                <tui-textfield tuiTextfieldSize="m">
                    <input
                        tuiInputDate
                        placeholder="Выберите дату"
                        formControlName="dueDate"
                    />

                    <tui-calendar *tuiDropdown />
                </tui-textfield>

                <tui-error
                    formControlName="dueDate"
                    [order]="['notPastDate', 'date', 'invalidDate']"
                />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label">
                    Исполнитель
                </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите участника"
                        formControlName="assigneeId"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="assigneeIdItems()"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error formControlName="assigneeId" [order]="['uuid']" />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label"> Спринт </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите спринт"
                        formControlName="sprintId"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="sprintIdItems()"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error formControlName="sprintId" [order]="['uuid']" />
            </label>

            <label class="create-project-task-form__field">
                <span class="create-project-task-form__label">
                    Родительская задача
                </span>

                <tui-textfield tuiTextfieldSize="m" tuiChevron>
                    <input
                        tuiInput
                        tuiSelectLike
                        readonly
                        type="text"
                        placeholder="Выберите задачу"
                        formControlName="parentId"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="parentIdItems()"
                        [itemContent]="optionContent"
                    />
                </tui-textfield>

                <tui-error formControlName="parentId" [order]="['uuid']" />
            </label>
        </div>

        <label class="create-project-task-form__description">
            <span class="create-project-task-form__description-label">
                <tui-icon icon="@tui.file-text" />
                Описание задачи
            </span>

            <tui-textfield tuiTextfieldSize="m">
                <textarea
                    tuiTextarea
                    placeholder="Опишите задачу, требования или важные детали"
                    formControlName="description"
                ></textarea>
            </tui-textfield>

            <tui-error formControlName="description" [order]="['maxlength']" />
        </label>

        <footer class="create-project-task-form__footer">
            <button
                tuiButton
                type="button"
                appearance="outline"
                size="m"
                iconStart="@tui.x"
                (click)="clearForm()"
            >
                Очистить
            </button>

            <button
                tuiButton
                type="submit"
                appearance="primary"
                size="m"
                iconStart="@tui.plus"
                [disabled]="form.invalid || isCreating()"
            >
                Создать задачу
            </button>
        </footer>
    </form>

    <ng-template #optionContent let-item>
        {{ item.label }}
    </ng-template>
</div>
