<div class="forgot-card__logo">
    <tui-icon class="forgot-card__logo-icon" icon="@tui.cat" />

    <span class="forgot-card__logo-text">AstushaApp</span>
</div>

<h1 class="forgot-card__title"> Не можете войти? </h1>

<p class="forgot-card__description">
    Введите электронную почту, которую вы использовали при регистрации. Мы
    отправим инструкцию для восстановления доступа.
</p>

<form class="forgot-card__form">
    <label class="forgot-card__field">
        <span class="forgot-card__label"> Электронная почта </span>

        <tui-textfield class="forgot-card__input" iconStart="@tui.mail">
            <input
                type="email"
                tuiInput
                placeholder="Введите адрес электронной почты"
            />
        </tui-textfield>
    </label>

    <button tuiButton class="forgot-card__submit" size="l">
        Отправить инструкцию
    </button>

    <div class="forgot-card__divider"></div>

    <div class="forgot-card__links">
        <a class="forgot-card__link" routerLink="/auth/login">
            Вернуться ко входу
        </a>

        <span class="forgot-card__links-separator">•</span>

        <a class="forgot-card__link" routerLink="/auth/create-account">
            Создать аккаунт
        </a>
    </div>
</form>
