<div class="project-main-settings">
    <header class="project-main-settings__header">
        <h2
            class="project-main-settings__title"
            [tuiSkeleton]="isFormLoading()"
        >
            Основная информация
        </h2>

        <button
            tuiButton
            type="button"
            appearance="outline"
            size="s"
            iconStart="@tui.pencil"
            [disabled]="isFormLoading()"
            [tuiSkeleton]="isFormLoading()"
            (click)="startEditing()"
        >
            Редактировать
        </button>
    </header>

    <form [formGroup]="form" class="project-main-settings__content">
        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Название проекта
            </span>

            <tui-textfield tuiTextfieldSize="m" [tuiSkeleton]="isFormLoading()">
                <input
                    tuiInput
                    type="text"
                    placeholder="Например, Astusha App"
                    formControlName="title"
                />
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.title"
                [order]="['required', 'maxlength', 'minlength']"
            />
        }

        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Описание
            </span>

            <tui-textfield tuiTextfieldSize="m" [tuiSkeleton]="isFormLoading()">
                <textarea
                    tuiTextarea
                    placeholder="Кратко опишите цель проекта"
                    formControlName="description"
                ></textarea>
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.description"
                [order]="['maxlength']"
            />
        }

        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Тип workflow
            </span>

            <tui-textfield
                tuiTextfieldSize="m"
                iconStart="@tui.workflow"
                tuiChevron
                [tuiSkeleton]="isFormLoading()"
            >
                <input
                    tuiInput
                    readonly
                    type="text"
                    placeholder="Выберите тип workflow"
                    formControlName="workflowTypeTitle"
                />

                <tui-data-list *tuiDropdown>
                    @for (type of workflowTypeOptions; track type.value) {
                        <button
                            tuiOption
                            type="button"
                            (click)="selectWorkflowType(type)"
                        >
                            <span tuiTitle>
                                {{ type.title }}

                                <span tuiSubtitle>
                                    {{ type.description }}
                                </span>
                            </span>
                        </button>
                    }
                </tui-data-list>
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.workflowTypeTitle"
                [order]="['required']"
            />
        }

        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Приоритет
            </span>

            <tui-textfield
                tuiTextfieldSize="m"
                iconStart="@tui.flag"
                tuiChevron
                [tuiSkeleton]="isFormLoading()"
            >
                <input
                    tuiInput
                    readonly
                    type="text"
                    placeholder="Выберите приоритет"
                    formControlName="priorityTitle"
                />

                <tui-data-list *tuiDropdown>
                    @for (priority of priorityOptions; track priority.value) {
                        <button
                            tuiOption
                            type="button"
                            (click)="selectPriority(priority)"
                        >
                            <span tuiTitle>
                                {{ priority.title }}

                                <span tuiSubtitle>
                                    {{ priority.description }}
                                </span>
                            </span>
                        </button>
                    }
                </tui-data-list>
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.priorityTitle"
                [order]="['required']"
            />
        }

        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Дата старта
            </span>

            <tui-textfield
                tuiTextfieldSize="m"
                iconStart="@tui.calendar"
                [tuiSkeleton]="isFormLoading()"
            >
                <input
                    tuiInputDate
                    placeholder="Выберите дату"
                    formControlName="startDate"
                />

                <tui-calendar *tuiDropdown />
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.startDate"
                [order]="['pastDate']"
            />
        }

        <label class="project-main-settings__field">
            <span
                class="project-main-settings__label"
                [tuiSkeleton]="isFormLoading()"
            >
                Дедлайн
            </span>

            <tui-textfield
                tuiTextfieldSize="m"
                iconStart="@tui.calendar"
                [tuiSkeleton]="isFormLoading()"
            >
                <input
                    tuiInputDate
                    placeholder="Выберите дату"
                    formControlName="deadline"
                />

                <tui-calendar *tuiDropdown />
            </tui-textfield>
        </label>

        @if (!isFormLoading()) {
            <tui-error
                [formControl]="form.controls.deadline"
                [order]="['pastDate', 'deadlineBeforeStartDate']"
            />
        }
    </form>

    @if (isEditing() && !isFormLoading()) {
        <footer class="project-main-settings__footer">
            <button
                tuiButton
                type="button"
                appearance="primary"
                size="m"
                [disabled]="isSaving()"
                (click)="saveChanges()"
            >
                Сохранить изменения
            </button>

            <button
                tuiButton
                type="button"
                appearance="outline"
                size="m"
                [disabled]="isSaving()"
                (click)="cancelEditing()"
            >
                Отмена
            </button>
        </footer>
    }
</div>
