<div class="project-main-settings">
    <header class="project-main-settings__header">
        <h2 class="project-main-settings__title">Основная информация</h2>

        <button
            tuiButton
            type="button"
            appearance="outline"
            size="s"
            iconStart="@tui.pencil"
            (click)="startEditing()"
        >
            Редактировать
        </button>
    </header>

    <form [formGroup]="form" class="project-main-settings__content">
        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Название проекта</span>

            <tui-textfield tuiTextfieldSize="m">
                <input
                    tuiInput
                    type="text"
                    placeholder="Например, Astusha App"
                    formControlName="title"
                />
            </tui-textfield>
        </label>
        <tui-error
            formControlName="title"
            [order]="['required', 'maxLength', 'minLength']"
        />

        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Описание</span>

            <tui-textfield tuiTextfieldSize="m">
                <textarea
                    tuiTextarea
                    placeholder="Кратко опишите цель проекта"
                    formControlName="description"
                ></textarea>
            </tui-textfield>
        </label>

        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Приоритет</span>

            <button
                tuiButton
                tuiChevron
                class="project-main-settings__select"
                type="button"
                appearance="outline"
                size="m"
            >
                Высокий
            </button>
        </label>

        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Тип процесса</span>

            <button
                tuiButton
                tuiChevron
                class="project-main-settings__select"
                type="button"
                appearance="outline"
                size="m"
            >
                Разработка
            </button>
        </label>

        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Дата старта</span>

            <tui-textfield tuiTextfieldSize="m" iconStart="@tui.calendar">
                <input
                    tuiInputDate
                    placeholder="Выберите дату"
                    formControlName="startDate"
                />
                <tui-calendar *tuiDropdown />
            </tui-textfield>
        </label>

        <label class="project-main-settings__field">
            <span class="project-main-settings__label">Дедлайн</span>

            <tui-textfield tuiTextfieldSize="m" iconStart="@tui.calendar">
                <input
                    tuiInputDate
                    placeholder="Выберите дату"
                    formControlName="deadline"
                />
                <tui-calendar *tuiDropdown />
            </tui-textfield>
        </label>
    </form>

    <footer class="project-main-settings__footer">
        <button tuiButton type="button" appearance="primary" size="m">
            Сохранить изменения
        </button>

        <button
            tuiButton
            type="button"
            appearance="outline"
            size="m"
            (click)="cancelEditing()"
        >
            Отмена
        </button>
    </footer>
</div>
