<div class="stats-wrapper">
    <div class="stats-card">
        <div
            tuiAvatar="@tui.folder-closed"
            class="stats-card__icon all-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Всего проектов</div>
            <div class="stats-card__value">24</div>
            <div class="stats-card__description">+3 за последний месяц</div>
        </div>
    </div>

    <div class="stats-card">
        <div
            tuiAvatar="@tui.chart-no-axes-combined"
            class="stats-card__icon active-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Активные проекты</div>
            <div class="stats-card__value">18</div>
            <div class="stats-card__description">75% от общего числа</div>
        </div>
    </div>

    <div class="stats-card">
        <div
            tuiAvatar="@tui.circle-check-big"
            class="stats-card__icon closed-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Завершённые проекты</div>
            <div class="stats-card__value">6</div>
            <div class="stats-card__description">+2 за последний месяц</div>
        </div>
    </div>

    <div class="stats-card">
        <div tuiAvatar="@tui.clock" class="stats-card__icon deadlines"></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Скоро дедлайн</div>
            <div class="stats-card__value">5</div>
            <div class="stats-card__description">В течение 14 дней</div>
        </div>
    </div>
</div>
