<div class="stats-wrapper">
    <div class="stats-card">
        <div
            tuiAvatar="@tui.folder-closed"
            class="stats-card__icon all-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Всего проектов</div>

            <div class="stats-card__value" [tuiSkeleton]="isProjectsLoading()">
                @if (!isProjectsLoading()) {
                    {{ totalProjectsCount() }}
                }
            </div>

            <div
                class="stats-card__description"
                [tuiSkeleton]="isProjectsLoading()"
            >
                @if (!isProjectsLoading()) {
                    +{{ projectsCreatedLastMonthCount() }} за последний месяц
                }
            </div>
        </div>
    </div>

    <div class="stats-card">
        <div
            tuiAvatar="@tui.chart-no-axes-combined"
            class="stats-card__icon active-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Активные проекты</div>

            <div class="stats-card__value" [tuiSkeleton]="isProjectsLoading()">
                @if (!isProjectsLoading()) {
                    {{ activeProjects() }}
                }
            </div>

            <div
                class="stats-card__description"
                [tuiSkeleton]="isProjectsLoading()"
            >
                @if (!isProjectsLoading()) {
                    {{ activeProjectsPercent() }}% от общего числа
                }
            </div>
        </div>
    </div>

    <div class="stats-card">
        <div
            tuiAvatar="@tui.circle-check-big"
            class="stats-card__icon closed-projects"
        ></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Завершённые проекты</div>

            <div class="stats-card__value" [tuiSkeleton]="isProjectsLoading()">
                @if (!isProjectsLoading()) {
                    {{ completedProjectsCount() }}
                }
            </div>

            <div
                class="stats-card__description"
                [tuiSkeleton]="isProjectsLoading()"
            >
                @if (!isProjectsLoading()) {
                    +{{ projectsCompletedLastMonthCount() }} за последний месяц
                }
            </div>
        </div>
    </div>

    <div class="stats-card">
        <div tuiAvatar="@tui.clock" class="stats-card__icon deadlines"></div>

        <div class="stats-card__content">
            <div class="stats-card__title">Скоро дедлайн</div>

            <div class="stats-card__value" [tuiSkeleton]="isProjectsLoading()">
                @if (!isProjectsLoading()) {
                    {{ projectsWithUpcomingDeadlineCount() }}
                }
            </div>

            <div
                class="stats-card__description"
                [tuiSkeleton]="isProjectsLoading()"
            >
                @if (!isProjectsLoading()) {
                    В течение 14 дней
                }
            </div>
        </div>
    </div>
</div>
