<div class="my-tasks-stats__wrapper">
    <div class="my-tasks-stats__card">
        <div tuiAvatar="@tui.mail-open" class="my-tasks-stats__icon"></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">Все задачи</div>

            <div class="my-tasks-stats__value"> 50</div>
        </div>
    </div>
    <div class="my-tasks-stats__card">
        <div tuiAvatar="@tui.circle" class="my-tasks-stats__icon"></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">Не начато</div>

            <div class="my-tasks-stats__value">30 </div>
        </div>
    </div>
    <div class="my-tasks-stats__card">
        <div tuiAvatar="@tui.alarm-clock" class="my-tasks-stats__icon"></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">В работе</div>

            <div class="my-tasks-stats__value">12 </div>
        </div>
    </div>
    <div class="my-tasks-stats__card">
        <div tuiAvatar="@tui.eye" class="my-tasks-stats__icon"></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">На проверке</div>

            <div class="my-tasks-stats__value"> 10</div>
        </div>
    </div>
    <div class="my-tasks-stats__card">
        <div
            tuiAvatar="@tui.circle-check-big"
            class="my-tasks-stats__icon"
        ></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">Завершено</div>

            <div class="my-tasks-stats__value"> 7</div>
        </div>
    </div>
    <div class="my-tasks-stats__card">
        <div tuiAvatar="@tui.clock-4" class="my-tasks-stats__icon"></div>

        <div class="my-tasks-stats__content">
            <div class="my-tasks-stats__title">Отложено</div>

            <div class="my-tasks-stats__value"> 5</div>
        </div>
    </div>
</div>
