<div class="project-detail-page">
    <div class="project-detail-page__top">
        <app-project-card
            class="project-detail-page__card"
            [project]="project()"
        />

        <app-project-team-card
            class="project-detail-page__card"
            [project]="project()"
        />

        <app-project-quick-actions
            class="project-detail-page__card"
            [project]="project()"
        />
    </div>

    <div class="project-detail-page__bottom">
        <app-project-repositories
            class="project-detail-page__card"
            [project]="project()"
        />

        <app-project-activity class="project-detail-page__card" />
    </div>
</div>
