<div class="project-detail-page">
    <div class="project-detail-page__top">
        <app-project-card
            class="project-detail-page__card"
            [project]="project()"
            [team]="team()"
            [isTeamLoading]="isTeamLoading()"
        />

        <app-project-team-card
            class="project-detail-page__card"
            [project]="project()"
            [team]="team()"
            [isLoading]="isTeamLoading()"
            [canManageProject]="canManageProject()"
            (teamChanged)="changeTeam($event)"
        />

        <app-project-quick-actions
            class="project-detail-page__card"
            [project]="project()"
            [canManageProject]="canManageProject()"
        />
    </div>

    <div class="project-detail-page__bottom">
        <app-project-repositories
            class="project-detail-page__card"
            [project]="project()"
            [canManageProject]="canManageProject()"
        />

        <app-project-activity class="project-detail-page__card" />
    </div>
</div>
