<div class="delete-profile">
    <div class="delete-profile__header">
        <div class="delete-profile__icon">
            <tui-icon icon="@tui.trash-2" />
        </div>

        <div class="delete-profile__header-text">
            <h2 class="delete-profile__title"> Удалить аккаунт </h2>

            <p class="delete-profile__description">
                Безвозвратное удаление аккаунта и всех данных
            </p>
        </div>
    </div>

    <div class="delete-profile__content">
        <div class="delete-profile__warning">
            <p class="delete-profile__warning-title">
                Это действие нельзя отменить
            </p>

            <p class="delete-profile__warning-text">
                После удаления аккаунта все проекты, задачи, настройки и личные
                данные будут удалены без возможности восстановления.
            </p>
        </div>

        <button
            tuiButton
            class="delete-profile__button"
            type="button"
            appearance="accent"
            size="m"
            iconStart="@tui.trash-2"
            (click)="openDeleteDialog()"
        >
            Удалить аккаунт
        </button>
        <ng-template
            let-id="id"
            [tuiDialogOptions]="{size: 's'}"
            [(tuiDialog)]="isDeleteDialogOpen"
        >
            <header tuiHeader>
                <hgroup tuiTitle>
                    <h2 [id]="id">Вы точно хотите удалить аккаунт?</h2>
                    <p>Это действие нельзя будет отменить</p>
                </hgroup>
            </header>
            <footer>
                <button
                    tuiButton
                    type="button"
                    appearance="outline"
                    (click)="deleteProfile()"
                >
                    Удалить
                </button>
                <button
                    tuiButton
                    type="button"
                    appearance="primary"
                    (click)="closeDeleteDialog()"
                >
                    Отмена
                </button>
            </footer>
        </ng-template>
    </div>
</div>
