<div class="card">
    <div class="content">
        <div
            tuiAvatar="@tui.trash-2"
            appearance="negative"
            class="icon"
            size="l"
        >
        </div>

        <div class="text">
            <h2 class="title">Опасная зона</h2>

            <p class="description">
                Удаление команды — необратимое действие. Все данные команды
                будут удалены.
            </p>
        </div>
    </div>

    <button
        tuiButton
        appearance="negative"
        size="m"
        iconStart="@tui.trash-2"
        (click)="openDeleteTeamDialog()"
    >
        Удалить команду
    </button>
</div>
