<div class="project-tasks-page__wrapper">
    @if (project(); as project) {
        <app-project-task-create
            [project]="project"
            [tasks]="tasks()"
            (taskCreated)="addTask($event)"
        />
        <app-project-task-toolbar
            [tasks]="tasks()"
            [isLoading]="isLoading()"
            [project]="project"
            (stageSelected)="selectStage($event)"
            (searchChanged)="searchTasks($event)"
        />
        <app-project-task-list [tasks]="filteredTasks()" />
    }
</div>
