.add-project-repository-form {
    display: grid;
    grid-gap: 10px;
}

.add-project-repository-form__label {
    color: var(--color-text-secondary);
    font: var(--tui-typography-body-m);
}

.add-project-repository-form__footer {
    justify-content: flex-end;
    display: flex;
    gap: 10px;
}
