<form tuiForm class="add-project-repository-form">
    <tui-textfield class="add-project-repository-form__field">
        <label tuiLabel class="add-project-repository-form__label">
            Добавьте ссылку на репозиторий
        </label>

        <input tuiAutoFocus tuiInput [formControl]="link" />
    </tui-textfield>

    <tui-error
        class="add-project-repository-form__error"
        [formControl]="link"
        [order]="[
            'required',
            'notBlank',
            'repositoryUrl',
            'maxlength',
            'serverError'
        ]"
    />

    <footer class="add-project-repository-form__footer">
        <button
            type="button"
            tuiButton
            appearance="secondary"
            (click)="context.$implicit.complete()"
        >
            Отмена
        </button>

        <button
            type="button"
            tuiButton
            (click)="addLink()"
            [disabled]="link.invalid || isLoading()"
        >
            Добавить
        </button>
    </footer>
</form>
