<div class="team-danger-zone-card">
    <div class="team-danger-zone-card__content">
        <div class="team-danger-zone-card__icon">
            <tui-icon icon="@tui.trash-2" />
        </div>

        <div class="team-danger-zone-card__text">
            <h2 class="team-danger-zone-card__title">Опасная зона</h2>

            <p class="team-danger-zone-card__description">
                Удаление задачи — необратимое действие. Все данные задачи будут
                удалены.
            </p>
        </div>
    </div>

    <button
        tuiButton
        appearance="negative"
        size="m"
        iconStart="@tui.trash-2"
        (click)="openDeleteTaskDialog()"
    >
        Удалить задачу
    </button>
</div>
