<form tuiForm class="form">
    <tui-textfield class="textfield" iconStart="@tui.search">
        <input
            tuiAutoFocus
            tuiInput
            placeholder="Введите название команды"
            [formControl]="form"
        />
    </tui-textfield>

    @if (!isSearching() && foundTeams().length > 0) {
        <div class="team-results">
            @for (team of foundTeams(); track team.id) {
                <button
                    class="team-results__item"
                    type="button"
                    [class.team-results__item_selected]="
                        selectedTeam()?.id === team.id
                    "
                    (click)="selectTeam(team)"
                    (click)="submit()"
                >
                    <div class="team-results__avatar">
                        <tui-icon icon="@tui.users" />
                    </div>

                    <div class="team-results__content">
                        <div class="team-results__name">
                            {{ team.name }}
                        </div>

                        <div class="team-results__description">
                            {{ team.description || 'Без описания' }}
                        </div>
                    </div>
                </button>
            }
        </div>
    }

    @if (!isSearching() && form.value.trim() && foundTeams().length === 0) {
        <div class="team-search-state">Команда не найдена</div>
    }

    <footer class="buttons">
        <button
            appearance="secondary"
            tuiButton
            type="button"
            size="m"
            (click)="context.$implicit.complete()"
        >
            Отмена
        </button>

        <button
            tuiButton
            type="submit"
            size="m"
            iconStart="@tui.plus"
            [disabled]="!selectedTeam()"
        >
            Добавить
        </button>
    </footer>
</form>
