<div class="project-settings-page">
    @if (project(); as project) {
        <div class="project-settings-page__content">
            <div class="project-settings-page__column">
                <app-project-main-settings
                    [project]="project"
                    (projectUpdated)="updateProject($event)"
                />

                <app-project-danger-zone [projectId]="project.id" />
            </div>

            <div class="project-settings-page__column">
                <app-project-workflow-settings [project]="project" />

                <app-project-team-settings [projectId]="project.id" />
            </div>
        </div>
    }
</div>
