<div class="project-settings-page">
    @if (project(); as project) {
        <div class="project-settings-page__content">
            <app-project-main-settings
                class="project-settings-page__card"
                [project]="project"
                (projectUpdated)="updateProject($event)"
            />

            <app-project-workflow-settings
                class="project-settings-page__card"
                [project]="project"
            />

            <app-project-sprints-settings class="project-settings-page__card" />

            <app-project-team-settings
                class="project-settings-page__card"
                [projectId]="project.id"
            />

            <app-project-danger-zone
                class="project-settings-page__card"
                [projectId]="project.id"
                [projectStatus]="project.status"
            />

            <app-project-repositories
                class="project-settings-page__card"
                [project]="project"
                [canManageProject]="canManageProject()"
            />
        </div>
    }
</div>
