@if (tasks().length === 0 && !isLoading()) {
    <div class="empty">
        <img
            class="empty-image"
            src="/images/no-tasks-img.png"
            alt="Нет задач"
        />
    </div>
} @else {
    <div class="list" [tuiSkeleton]="isLoading()">
        <div class="table-wrapper">
            <table tuiTable class="table">
                <thead tuiThead>
                    <tr tuiThGroup>
                        <th tuiTh>Задача</th>
                        <th tuiTh>Проект</th>
                        <th tuiTh>Этап</th>
                        <th tuiTh>Приоритет</th>
                        <th tuiTh>Дедлайн</th>
                        <th tuiTh>Обновлено</th>
                        <th
                            tuiTh
                            class="actions-cell"
                            aria-label="Действия"
                        ></th>
                    </tr>
                </thead>

                <tbody tuiTbody>
                    @for (task of paginatedTasks(); track task.id) {
                        <tr>
                            <td tuiTd>
                                <div class="task">
                                    <span class="task-title">
                                        {{ task.title }}
                                    </span>

                                    <span class="task-meta">
                                        Назначена вам • #{{ task.project.key }}
                                    </span>
                                </div>
                            </td>

                            <td tuiTd>
                                <span class="project">
                                    {{ task.project.title }}
                                </span>
                            </td>

                            <td tuiTd>
                                <div tuiBadge size="xl" appearance="info">
                                    {{ task.workflowStage.name }}
                                </div>
                            </td>

                            <td tuiTd>
                                <span class="priority">
                                    @if (task.priority === 'LOW') {
                                        <div
                                            tuiBadge
                                            size="xl"
                                            appearance="positive"
                                        >
                                            {{ task.priority }}
                                        </div>
                                    }
                                    @if (task.priority === 'MEDIUM') {
                                        <div
                                            tuiBadge
                                            size="xl"
                                            appearance="warning"
                                        >
                                            {{ task.priority }}
                                        </div>
                                    }
                                    @if (task.priority === 'HIGH') {
                                        <div
                                            tuiBadge
                                            size="xl"
                                            appearance="accent"
                                        >
                                            {{ task.priority }}
                                        </div>
                                    }
                                    @if (task.priority === 'CRITICAL') {
                                        <div
                                            tuiBadge
                                            size="xl"
                                            appearance="negative"
                                        >
                                            {{ task.priority }}
                                        </div>
                                    }
                                </span>
                            </td>

                            <td tuiTd>
                                <span class="deadline">
                                    {{ task.dueDate | date }}
                                </span>
                            </td>

                            <td tuiTd>
                                <span class="updated">
                                    {{ task.updatedAt | date }}
                                </span>
                            </td>

                            <td tuiTd class="actions-cell">
                                <button
                                    tuiIconButton
                                    type="button"
                                    appearance="flat"
                                    size="xs"
                                    iconStart="@tui.ellipsis"
                                    tuiHint="Подробнее о задаче"
                                    tuiHintDirection="top-start"
                                    aria-label="Подробнее о задаче"
                                    [routerLink]="[
                                        '/dashboard/projects',
                                        task.projectId,
                                        'tasks',
                                        task.id
                                    ]"
                                ></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <footer class="footer">
                <span class="counter" [tuiSkeleton]="isLoading()">
                    Показано {{ paginatedTasks().length }} из
                    {{ tasks().length }} задач
                </span>

                <div class="pagination" [tuiSkeleton]="isLoading()">
                    <button
                        tuiIconButton
                        type="button"
                        appearance="flat"
                        size="s"
                        iconStart="@tui.chevron-left"
                        aria-label="Предыдущая страница"
                        [disabled]="!canGoPrev()"
                        (click)="goToPrevPage()"
                    ></button>

                    <span class="pagination-text">
                        Страница {{ currentPage() }} из {{ totalPages() }}
                    </span>

                    <button
                        tuiIconButton
                        type="button"
                        appearance="flat"
                        size="s"
                        iconStart="@tui.chevron-right"
                        aria-label="Следующая страница"
                        [disabled]="!canGoNext()"
                        (click)="goToNextPage()"
                    ></button>
                </div>

                <span class="page-size" [tuiSkeleton]="isLoading()">
                    Показывать: {{ pageSize }}
                </span>
            </footer>
        </div>
    </div>
}
