@if (tasks().length === 0 && !isLoading()) {
    <div class="my-tasks-empty">
        <img
            class="my-tasks-empty__image"
            src="/images/no-tasks-img.png"
            alt="Нет задач!"
        />
    </div>
} @else {
    <div class="my-tasks-list" [tuiSkeleton]="isLoading()">
        <div class="my-tasks-list__table-wrapper">
            <table class="my-tasks-list__table">
                <thead class="my-tasks-list__head">
                    <tr class="my-tasks-list__head-row">
                        <th class="my-tasks-list__head-cell">Задача</th>
                        <th class="my-tasks-list__head-cell">Проект</th>
                        <th class="my-tasks-list__head-cell">Этап</th>
                        <th class="my-tasks-list__head-cell">Приоритет</th>
                        <th class="my-tasks-list__head-cell">Дедлайн</th>
                        <th class="my-tasks-list__head-cell">Обновлено</th>
                        <th
                            class="my-tasks-list__head-cell my-tasks-list__actions-cell"
                        ></th>
                    </tr>
                </thead>

                <tbody class="my-tasks-list__body">
                    @for (task of tasks(); track task.id) {
                        <tr class="my-tasks-list__row">
                            <td class="my-tasks-list__cell">
                                <div class="my-tasks-list__task">
                                    <span class="my-tasks-list__task-title">
                                        {{ task.title }}
                                    </span>

                                    <span class="my-tasks-list__task-meta">
                                        Назначена вам • #{{ task.project.key }}
                                    </span>
                                </div>
                            </td>

                            <td class="my-tasks-list__cell">
                                <span class="my-tasks-list__project">{{
                                    task.project.title
                                }}</span>
                            </td>

                            <td class="my-tasks-list__cell">
                                <span class="my-tasks-list__stage">{{
                                    task.workflowStage.name
                                }}</span>
                            </td>

                            <td class="my-tasks-list__cell">
                                <span class="my-tasks-list__priority">
                                    <span
                                        class="my-tasks-list__priority-dot"
                                    ></span>
                                    {{ task.priority }}
                                </span>
                            </td>

                            <td class="my-tasks-list__cell">
                                <span class="my-tasks-list__deadline">{{
                                    task.dueDate | date
                                }}</span>
                            </td>

                            <td class="my-tasks-list__cell">
                                <span class="my-tasks-list__updated">{{
                                    task.updatedAt | date
                                }}</span>
                            </td>

                            <td
                                class="my-tasks-list__cell my-tasks-list__actions-cell"
                            >
                                <button
                                    tuiIconButton
                                    appearance="flat"
                                    size="xs"
                                    iconStart="@tui.ellipsis"
                                    tuiHint="Подробнее о задаче"
                                    tuiHintDirection="top-start"
                                    [routerLink]="[
                                        '/dashboard/my-tasks',
                                        task.id
                                    ]"
                                >
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <footer class="my-tasks-list__footer">
                <span class="my-tasks-list__counter">
                    Показано 1–7 из 24 задач
                </span>

                <div class="my-tasks-list__pagination">
                    <button
                        tuiIconButton
                        appearance="flat"
                        size="s"
                        iconStart="@tui.chevron-left"
                    >
                        Назад
                    </button>

                    <button tuiButton size="s">1</button>

                    <button tuiButton="flat" size="s"> 2 </button>

                    <button tuiButton="flat" size="s"> 3 </button>

                    <button
                        tuiIconButton
                        appearance="flat"
                        size="s"
                        iconStart="@tui.chevron-right"
                    >
                        Вперёд
                    </button>
                </div>
            </footer>
        </div>
    </div>
}
