<div class="card">
    <header class="header">
        <div class="left-actions">
            <button
                tuiIconButton
                class="back-button"
                type="button"
                appearance="flat"
                size="s"
                iconStart="@tui.move-left"
                tuiHint="Вернуться назад"
                tuiHintDirection="top"
                aria-label="Вернуться назад"
                (click)="goBack()"
            ></button>

            <span class="number" [tuiSkeleton]="isLoading()">
                @if (task(); as task) {
                    {{ task.project.key }}-{{ task.number }}
                } @else {
                    AS-0000
                }
            </span>
        </div>

        <div class="right-actions">
            <button
                tuiButton
                type="button"
                appearance="flat"
                size="s"
                iconStart="@tui.pen"
                (click)="editTask()"
            >
                Редактировать
            </button>
        </div>
    </header>

    <main class="main">
        <h1 class="title" [tuiSkeleton]="isLoading()">
            {{ task()?.title || 'Название задачи' }}
        </h1>

        <div class="badges">
            <span
                tuiBadge
                appearance="primary"
                size="xl"
                [tuiSkeleton]="isLoading()"
            >
                {{ task()?.workflowStage?.name || 'Статус' }}
            </span>

            @if (task()?.priority === 'LOW') {
                <div
                    tuiBadge
                    appearance="positive"
                    size="xl"
                    [tuiSkeleton]="isLoading()"
                >
                    {{ task()?.priority }}
                </div>
            }
            @if (task()?.priority === 'MEDIUM') {
                <div
                    tuiBadge
                    appearance="warning"
                    size="xl"
                    [tuiSkeleton]="isLoading()"
                >
                    {{ task()?.priority }}
                </div>
            }
            @if (task()?.priority === 'HIGH') {
                <div
                    tuiBadge
                    appearance="accent"
                    size="xl"
                    [tuiSkeleton]="isLoading()"
                >
                    {{ task()?.priority }}
                </div>
            }
            @if (task()?.priority === 'CRITICAL') {
                <div
                    tuiBadge
                    appearance="negative"
                    size="xl"
                    [tuiSkeleton]="isLoading()"
                >
                    {{ task()?.priority }}
                </div>
            }

            <span
                class="tag"
                [tuiSkeleton]="isLoading()"
                [tuiSkeleton]="isLoading()"
            >
                {{ task()?.type || 'Тип задачи' }}
            </span>
        </div>
    </main>

    <footer class="footer">
        <div class="meta-item">
            @if (task()?.assignee; as assignee) {
                @if (assignee.avatarUrl) {
                    <img
                        class="assignee-avatar-image"
                        [src]="assignee.avatarUrl"
                        alt="Аватар исполнителя"
                    />
                } @else {
                    <div tuiAvatar="@tui.user" class="assignee-avatar"></div>
                }
            } @else {
                <div tuiAvatar="@tui.user" class="assignee-avatar"></div>
            }

            <div class="meta-content">
                <span class="meta-label">Исполнитель</span>

                <span class="meta-value" [tuiSkeleton]="isLoading()">
                    @if (task()?.assignee; as assignee) {
                        {{
                            (
                                (assignee.firstName ?? '') +
                                ' ' +
                                (assignee.lastName ?? '')
                            ).trim() || assignee.login
                        }}
                    } @else {
                        Не назначен
                    }
                </span>
            </div>
        </div>

        <div class="meta-item">
            <tui-icon class="meta-icon" icon="@tui.folder" />

            <div class="meta-content">
                <span class="meta-label">Проект</span>

                <span class="meta-value" [tuiSkeleton]="isLoading()">
                    {{ task()?.project?.title || 'Не указан' }}
                </span>
            </div>
        </div>

        <div class="meta-item">
            <tui-icon class="meta-icon" icon="@tui.calendar" />

            <div class="meta-content">
                <span class="meta-label">Срок</span>

                <span class="meta-value" [tuiSkeleton]="isLoading()">
                    @if (task()?.dueDate) {
                        {{ task()?.dueDate | date }}
                    } @else {
                        Не указан
                    }
                </span>
            </div>
        </div>

        <div class="meta-item">
            <tui-icon class="meta-icon" icon="@tui.timer" />

            <div class="meta-content">
                <span class="meta-label">Story points</span>

                <span class="meta-value" [tuiSkeleton]="isLoading()">
                    {{ task()?.storyPoints ?? 'Не указаны' }}
                </span>
            </div>
        </div>

        <div class="meta-item">
            <tui-icon class="meta-icon" icon="@tui.clock" />

            <div class="meta-content">
                <span class="meta-label">Обновлена</span>

                <span class="meta-value" [tuiSkeleton]="isLoading()">
                    @if (task()?.updatedAt) {
                        {{ task()?.updatedAt | date }}
                    } @else {
                        Не указано
                    }
                </span>
            </div>
        </div>
    </footer>
</div>
