<section class="project-repositories-card">
    <header class="project-repositories-card__header">
        <div class="project-repositories-card__icon">
            <tui-icon icon="@tui.git-branch" />
        </div>

        <div class="project-repositories-card__header-content">
            <div class="project-repositories-card__title">
                Репозитории проекта
            </div>

            <div class="project-repositories-card__description">
                Подключите GitHub, GitLab или другой репозиторий проекта
            </div>
        </div>
    </header>

    @if (repos().length === 0 && !isLoading()) {
        <div class="no-repo">
            <img
                class="no-repo__image"
                src="/images/add-repo-link-img (1).png"
                alt="Страница не найдена"
            />
            <footer class="project-repositories-card__footer">
                <button
                    type="button"
                    tuiButton
                    iconStart="@tui.plus"
                    (click)="addLink()"
                >
                    Добавить репозиторий
                </button>
            </footer>
        </div>
    } @else {
        @for (repo of previewRepos(); track repo.id) {
            <article
                class="project-repositories-card__item"
                [tuiSkeleton]="isLoading()"
            >
                <div class="project-repositories-card__item-icon">
                    <tui-icon icon="@tui.git-branch" />
                </div>

                <a
                    class="project-repositories-card__item-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    [href]="repo.url | repositoryHref"
                >
                    {{ repo.url }}
                </a>

                <div class="project-repositories-card__item-actions">
                    <a
                        tuiButton
                        size="s"
                        appearance="flat"
                        iconStart="@tui.external-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        [href]="
                            repo.url.startsWith('http')
                                ? repo.url
                                : 'https://' + repo.url
                        "
                    >
                        Открыть
                    </a>
                    @if (canManageProject()) {
                        <button
                            type="button"
                            tuiButton
                            size="s"
                            appearance="outline"
                            iconStart="@tui.trash"
                            (click)="deleteRepo(repo.id)"
                        >
                            Удалить
                        </button>
                    }
                </div>
            </article>
        }

        <footer class="project-repositories-card__footer">
            @if (repos().length > 3 && !isLoading()) {
                <button
                    type="button"
                    tuiButton
                    appearance="flat"
                    (click)="showAllRepos()"
                    >Показать все</button
                >
            }
            <div>
                @if (canManageProject()) {
                    <button
                        type="button"
                        tuiButton
                        iconStart="@tui.plus"
                        (click)="addLink()"
                    >
                        Добавить репозиторий
                    </button>
                }
            </div>
        </footer>
    }
</section>
