<section class="project-repositories-card">
    <header class="project-repositories-card__header">
        <div class="project-repositories-card__icon">
            <tui-icon icon="@tui.git-branch" />
        </div>

        <div class="project-repositories-card__header-content">
            <div class="project-repositories-card__title">
                Репозитории проекта
            </div>

            <div class="project-repositories-card__description">
                Подключите GitHub, GitLab или другой репозиторий проекта
            </div>
        </div>
    </header>

    @if (repos().length === 0 && !isLoading()) {
        <footer class="project-repositories-card__footer">
            <button
                tuiButton
                type="button"
                iconStart="@tui.plus"
                (click)="addLink()"
            >
                Добавить репозиторий
            </button>
        </footer>
    } @else {
        <main class="project-repositories-card__content"></main>

        <footer class="project-repositories-card__footer">
            <button tuiButton type="button" iconStart="@tui.external-link">
                Открыть репозиторий
            </button>

            <button
                tuiButton
                type="button"
                iconStart="@tui.pen"
                appearance="outline"
            >
                Изменить
            </button>
        </footer>
    }
</section>
