<section class="project-repositories-card">
    <header class="project-repositories-card__header">
        <div class="project-repositories-card__icon">
            <tui-icon icon="@tui.git-branch" />
        </div>

        <div class="project-repositories-card__header-content">
            <div class="project-repositories-card__title">
                Репозитории проекта
            </div>

            <div class="project-repositories-card__description">
                Подключите GitHub, GitLab или другой репозиторий проекта
            </div>
        </div>
    </header>

    @if (repos().length === 0 && !isLoading()) {
        <footer class="project-repositories-card__footer">
            <button tuiButton iconStart="@tui.plus" (click)="addLink()">
                Добавить репозиторий
            </button>
        </footer>
    } @else {
        @for (repo of prewiewRepos(); track repo.id) {
            <article
                class="project-repositories-card__item"
                [tuiSkeleton]="isLoading()"
            >
                <div class="project-repositories-card__item-icon">
                    <tui-icon icon="@tui.git-branch" />
                </div>

                <a
                    class="project-repositories-card__item-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    [href]="
                        repo.url.startsWith('http')
                            ? repo.url
                            : 'https://' + repo.url
                    "
                >
                    {{ repo.url }}
                </a>

                <div class="project-repositories-card__item-actions">
                    <a
                        tuiButton
                        size="s"
                        appearance="flat"
                        iconStart="@tui.external-link"
                        target="_blank"
                        rel="noopener noreferrer"
                        [href]="
                            repo.url.startsWith('http')
                                ? repo.url
                                : 'https://' + repo.url
                        "
                    >
                        Открыть
                    </a>

                    <button
                        tuiButton
                        size="s"
                        appearance="outline"
                        iconStart="@tui.trash"
                        (click)="deleteRepo(repo.id)"
                    >
                        Удалить
                    </button>
                </div>
            </article>
        }

        <footer class="project-repositories-card__footer">
            @if (repos().length > 3 && !isLoading()) {
                <button tuiButton appearance="flat" (click)="showAllRepos()"
                    >Показать все</button
                >
            }
            <div>
                <button tuiButton iconStart="@tui.plus" (click)="addLink()">
                    Добавить репозиторий
                </button>

                <button tuiButton iconStart="@tui.pen" appearance="outline">
                    Изменить
                </button>
            </div>
        </footer>
    }
</section>
