<aside class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <div class="sidebar__logo-icon">
                <tui-icon icon="@tui.cat" />
            </div>

            <span class="sidebar__logo-text">AstushaApp</span>
        </div>
    </div>

    <nav class="sidebar__nav">
        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.layout-dashboard" />
            <span class="sidebar__nav-text">Дашборд</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/projects"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.folder" />
            <span class="sidebar__nav-text">Проекты</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/my-tasks"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.circle-check" />
            <span class="sidebar__nav-text">Мои задачи</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/sprints"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.refresh-cw" />
            <span class="sidebar__nav-text">Спринты</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/teams"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.users-round" />
            <span class="sidebar__nav-text">Команды</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/calendar"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.calendar" />
            <span class="sidebar__nav-text">Календарь</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/reports"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon
                class="sidebar__nav-icon"
                icon="@tui.chart-column-stacked"
            />
            <span class="sidebar__nav-text">Отчёты</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/settings"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.settings" />
            <span class="sidebar__nav-text">Настройки</span>
        </a>
    </nav>

    <div class="sidebar__section">
        <div class="sidebar__section-header">
            <span class="sidebar__section-title">Недавние проекты</span>

            <a
                tuiIconButton
                class="sidebar__section-button"
                routerLink="/projects/create"
                appearance="flat"
                size="xs"
                iconStart="@tui.plus"
                tuiHint="Создайте новый проект"
                tuiHintDirection="end"
            >
                Создать проект
            </a>
        </div>

        <div class="sidebar__project-list">
            <a class="sidebar__project" routerLink="/projects/astusha-platform">
                <div class="sidebar__project-icon sidebar__project-icon_blue">
                    <tui-icon icon="@tui.rocket" />
                </div>

                <div class="sidebar__project-content">
                    <span class="sidebar__project-name">Astusha Platform</span>
                    <span class="sidebar__project-status">В работе</span>
                </div>

                <tui-icon class="sidebar__project-more" icon="@tui.ellipsis" />
            </a>

            <a class="sidebar__project" routerLink="/projects/mobile-app">
                <div class="sidebar__project-icon sidebar__project-icon_violet">
                    <tui-icon icon="@tui.smartphone" />
                </div>

                <div class="sidebar__project-content">
                    <span class="sidebar__project-name">
                        Мобильное приложение
                    </span>
                    <span class="sidebar__project-status">В работе</span>
                </div>

                <tui-icon class="sidebar__project-more" icon="@tui.ellipsis" />
            </a>

            <a class="sidebar__project" routerLink="/projects/internal-tool">
                <div class="sidebar__project-icon sidebar__project-icon_green">
                    <tui-icon icon="@tui.wrench" />
                </div>

                <div class="sidebar__project-content">
                    <span class="sidebar__project-name">
                        Внутренний инструмент
                    </span>
                    <span class="sidebar__project-status">Планирование</span>
                </div>

                <tui-icon class="sidebar__project-more" icon="@tui.ellipsis" />
            </a>
        </div>
    </div>

    <div class="sidebar__footer">
        <a class="sidebar__support" routerLink="/support">
            <div class="sidebar__support-icon">
                <tui-icon icon="@tui.circle-help" />
            </div>

            <span>Помощь и поддержка</span>

            <tui-icon
                class="sidebar__support-arrow"
                icon="@tui.chevron-right"
            />
        </a>

        <button
            tuiButton
            class="sidebar__profile"
            type="button"
            appearance="flat"
        >
            @let profile = profile$ | async;

            @if (profile) {
                <div class="sidebar__avatar">
                    <span>А</span>
                    <div class="sidebar__avatar-status"></div>
                </div>

                <div class="sidebar__profile-info">
                    @if (profile.firstName) {
                        <span class="sidebar__profile-name">
                            {{ profile.firstName }} {{ profile.lastName }}
                        </span>

                        <span class="sidebar__profile-role">
                            {{ profile.position }}
                        </span>
                    } @else {
                        <span class="sidebar__profile-name">
                            {{ profile.login }}
                        </span>
                    }
                </div>
            }

            <tui-icon class="sidebar__profile-arrow" icon="@tui.chevron-down" />
        </button>
    </div>
</aside>
