<aside class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <div class="sidebar__logo-icon">
                <tui-icon icon="@tui.cat" />
            </div>

            <span class="sidebar__logo-text">AstushaApp</span>
        </div>
    </div>

    <nav class="sidebar__nav">
        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.kanban" />
            <span class="sidebar__nav-text">Доски</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/projects"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.folder" />
            <span class="sidebar__nav-text">Проекты</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/my-tasks"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.circle-check" />
            <span class="sidebar__nav-text">Мои задачи</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/teams"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.users" />
            <span class="sidebar__nav-text">Команды</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/astusha-ai"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.brain" />
            <span class="sidebar__nav-text">Astusha AI</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/reports"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.calendar" />
            <span class="sidebar__nav-text">Календарь</span>
        </a>

        <a
            tuiButton
            class="sidebar__nav-item"
            routerLink="/dashboard/settings"
            routerLinkActive="sidebar__nav-item_active"
            appearance="flat"
            size="m"
        >
            <tui-icon class="sidebar__nav-icon" icon="@tui.settings" />
            <span class="sidebar__nav-text">Настройки</span>
        </a>
    </nav>

    <section class="sidebar__recent-projects">
        <div class="sidebar__section-header">
            <span class="sidebar__section-title">Недавние проекты</span>

            <a
                tuiIconButton
                class="sidebar__section-create"
                routerLink="/dashboard/projects"
                appearance="flat"
                size="xs"
                iconStart="@tui.plus"
                tuiHint="Создать проект"
                tuiHintDirection="top-end"
            ></a>
        </div>

        <div class="sidebar__recent-list">
            @if (isLoading()) {
                <button
                    tuiButton
                    class="sidebar__recent-item"
                    appearance="outline"
                    size="m"
                    iconStart="@tui.folder"
                    [tuiSkeleton]="isLoading()"
                >
                    <span class="sidebar__recent-info">
                        <span class="sidebar__recent-title">
                            Название проекта
                        </span>

                        <span class="sidebar__recent-status">
                            Статус проекта
                        </span>
                    </span>
                </button>
            }
            @if (projects().length > 0) {
                @for (project of projects(); track project.id) {
                    <a
                        tuiButton
                        class="sidebar__recent-item"
                        size="m"
                        appearance="secondary"
                        iconStart="@tui.folder"
                        [routerLink]="['/dashboard/projects', project.id]"
                    >
                        <span class="sidebar__recent-info">
                            <span
                                class="sidebar__recent-title"
                                [title]="project.title"
                                s
                            >
                                {{ project.title }}
                            </span>

                            <span class="sidebar__recent-status">
                                {{ project.status }}
                            </span>
                        </span>
                    </a>
                }
            } @else {
                <div class="sidebar__recent-empty">
                    <tui-icon
                        class="sidebar__recent-empty-icon"
                        icon="@tui.folder-plus"
                    />

                    <span class="sidebar__recent-empty-text">
                        Проектов пока нет
                    </span>
                </div>
            }
        </div>
    </section>

    <div class="sidebar__footer">
        <button tuiButton class="sidebar__support" appearance="flat" size="m">
            <tui-icon class="sidebar__support-icon" icon="@tui.circle-help" />

            <span class="sidebar__support-text">Помощь и поддержка</span>

            <tui-icon
                class="sidebar__support-arrow"
                icon="@tui.chevron-right"
            />
        </button>

        @if (profile$ | async; as profile) {
            <button
                tuiButton
                class="sidebar__profile"
                appearance="flat"
                size="m"
            >
                <div class="sidebar__profile-avatar-wrapper">
                    @if (profile.avatarUrl) {
                        <img
                            class="sidebar__profile-avatar-img"
                            [src]="profile.avatarUrl"
                            alt="Аватар пользователя"
                        />
                    } @else {
                        <div
                            tuiAvatar="@tui.user"
                            class="sidebar__profile-avatar"
                        ></div>
                    }

                    <span class="sidebar__profile-avatar-status"></span>
                </div>

                <div class="sidebar__profile-info">
                    <span
                        class="sidebar__profile-name"
                        [title]="
                            (
                                (profile.firstName ?? '') +
                                ' ' +
                                (profile.lastName ?? '')
                            ).trim() || profile.login
                        "
                    >
                        {{
                            (
                                (profile.firstName ?? '') +
                                ' ' +
                                (profile.lastName ?? '')
                            ).trim() || profile.login
                        }}
                    </span>

                    <span class="sidebar__profile-position">
                        {{ profile.position || 'Пользователь' }}
                    </span>
                </div>

                <tui-icon
                    class="sidebar__profile-chevron"
                    icon="@tui.chevron-down"
                />
            </button>
        }
    </div>
</aside>
